nKjIwQOseNIPq6WQ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Emails Duplicados": {
      "main": [
        [
          {
            "node": "Filtrar Emails Malos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Guardar Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Emails Malos": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registros": {
      "main": [
        [
          {
            "node": "Eliminar Emails Duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-18T07:51:15.483Z",
  "id": "nKjIwQOseNIPq6WQ",
  "isArchived": false,
  "meta": null,
  "name": "Pasar archivos json a bdd",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        304
      ],
      "id": "8fd7fb29-2e4c-4c9e-abfd-e96f924d6226",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Code node - Run Once for All Items\n// Este nodo recibe items con campos tipo:\n// { empresa, web, telefono, correo, direccion, contexto, ... }\n// y saca items solo con emails válidos, sin duplicados.\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n\nconst seen = new Set();   // para evitar duplicados dentro del lote\nconst out = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const sourceUrl = data.web || null;\n  let correos = data.correo;\n\n  const candidates = [];\n\n  // 1) Normalizamos \"correo\" a una lista de strings\n  if (Array.isArray(correos)) {\n    for (const c of correos) {\n      if (typeof c === 'string') {\n        candidates.push(c);\n      }\n    }\n  } else if (typeof correos === 'string') {\n    candidates.push(correos);\n  } else {\n    // null o tipo raro -> no hay correos aprovechables\n    continue;\n  }\n\n  // 2) De cada string sacamos todos los emails que aparezcan\n  for (const c of candidates) {\n    const matches = c.match(emailRegex);\n    if (!matches) continue;\n\n    for (let email of matches) {\n      email = email.trim().toLowerCase();\n\n      // 3) Evitar duplicados (normalizamos a minúsculas)\n      if (seen.has(email)) continue;\n      seen.add(email);\n\n      // 4) Preparamos el item de salida\n      out.push({\n        json: {\n          email,            // lo usas en nodos siguientes\n          web: sourceUrl,   // para tu Set node que usa $json.web\n          source_url: sourceUrl, // por si lo quieres usar directo\n          empresa: data.empresa || null\n        }\n      });\n    }\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b1587d04-7e26-426b-a6a4-2fec5500fe0f",
      "name": "Code",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "email",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        336,
        304
      ],
      "id": "428d4c27-0d37-4bf8-a474-29db83b6ee48",
      "name": "Eliminar Emails Duplicados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86a77e50-f800-4149-b431-f9664a3a48b0",
              "name": "Email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "e486f0ab-9bec-4ae5-8bea-8302f27e0776",
              "name": "url",
              "value": "={{ $json.website }}",
              "type": "string"
            },
            {
              "id": "fe1c5bce-e864-4a00-aab3-a1c3fb377eb1",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "d46c5fa5-27ad-401e-b953-5d42b16d08bd",
              "name": "city",
              "value": "={{ $json.city }}",
              "type": "string"
            },
            {
              "id": "331423be-a913-4684-8c0d-a4166597980e",
              "name": "postal_code",
              "value": "={{ $json.postal_code }}",
              "type": "string"
            },
            {
              "id": "690c6af6-3e8b-441a-b2be-6843e2d9724e",
              "name": "giro",
              "value": "={{ $json.giro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        304
      ],
      "id": "f7fe3136-5c81-4225-8067-483edb4f9877",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d484400d-e98f-4784-8915-b4d7f58ba7ad",
              "leftValue": "={{ $json.email }}",
              "rightValue": "(example|wixpress|sentry|png|jpg|jpeg|webp|gif|css|js|svg|ico|woff|ttf|map)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        544,
        304
      ],
      "id": "f3594b1a-1d18-4170-8025-ffd780ce097a",
      "name": "Filtrar Emails Malos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.emails (\n  email,\n  mensaje,\n  enviado,\n  source_url,\n  website,\n  query,\n  city,\n  postal_code,\n  giro\n)\nVALUES (\n  '{{ $json.Email }}',\n  'Email extraído automáticamente',\n  false,\n  '{{ $json.source_url || $json.website }}',\n  '{{ $json.url }}',\n  '{{ $json.query }}',\n  '{{ $json.city }}',\n  '{{ $json.postal_code }}',\n  '{{ $json.giro }}'\n)\nON CONFLICT (email_norm) DO UPDATE\nSET\n  website = EXCLUDED.website,\n  query = EXCLUDED.query,\n  city = EXCLUDED.city,\n  postal_code = EXCLUDED.postal_code,\n  giro = EXCLUDED.giro,\n  source_url = EXCLUDED.source_url;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        304
      ],
      "id": "bfd0893b-6df6-4aea-b892-d4c0f3aee370",
      "name": "Guardar Registros",
      "retryOnFail": false,
      "maxTries": 5,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return[\n\t{\n\t\t\"email\": \"info@green-plus.es\",\n\t\t\"website\": \"http://www.green-plus.es\",\n\t\t\"query\": \"Jardineria 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"correo@ejemplo.com\",\n\t\t\"website\": \"https://patrimonioypaisaje.madrid.es\",\n\t\t\"query\": \"Jardineria 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"gruporaga@gruporaga.com\",\n\t\t\"website\": \"https://www.gruporaga.com\",\n\t\t\"query\": \"Jardineria 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"info@prestashopwebdesign.com\",\n\t\t\"website\": \"https://prestashopwebdesign.com\",\n\t\t\"query\": \"Consultoria tecnica 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@sobredos.com\",\n\t\t\"website\": \"https://sobredos.com\",\n\t\t\"query\": \"Consultoria tecnica 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@rojumar.com\",\n\t\t\"website\": \"http://www.rojumar.com\",\n\t\t\"query\": \"Consultoria tecnica 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"msaenz@observatoriorh.com\",\n\t\t\"website\": \"http://orhit.es\",\n\t\t\"query\": \"Consultoria tecnica 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"mcruzado@cvalora.com\",\n\t\t\"website\": \"http://orhit.es\",\n\t\t\"query\": \"Consultoria tecnica 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"cmaliqueo@observatoriorh.cl\",\n\t\t\"website\": \"http://orhit.es\",\n\t\t\"query\": \"Consultoria tecnica 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"office@legit.com\",\n\t\t\"website\": \"https://www.jenasa.com\",\n\t\t\"query\": \"Consultoria tecnica 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@ingeodrone.es\",\n\t\t\"website\": \"https://ingeodrone.es\",\n\t\t\"query\": \"Topografia 28026 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28026\",\n\t\t\"giro\": \"Topografia\"\n\t},\n\t{\n\t\t\"email\": \"acogen@acogen.es\",\n\t\t\"website\": \"http://www.acogen.es\",\n\t\t\"query\": \"Asociaciones empresariales 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"aedhe@aedhe.es\",\n\t\t\"website\": \"https://www.aedhe.es\",\n\t\t\"query\": \"Asociaciones empresariales 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"asociacion@anfevi.com\",\n\t\t\"website\": \"http://www.anfevi.com\",\n\t\t\"query\": \"Asociaciones empresariales 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"info@steelmantenimiento.com\",\n\t\t\"website\": \"http://www.steelmantenimiento.com\",\n\t\t\"query\": \"Mantenimiento industrial 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"contacto@gruponorma.com\",\n\t\t\"website\": \"https://www.gruponorma.com/madriser\",\n\t\t\"query\": \"Mantenimiento industrial 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"rfernandez@deltat.es\",\n\t\t\"website\": \"https://ebullicionbajocero.com\",\n\t\t\"query\": \"Mantenimiento industrial 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"info@novusgm.es\",\n\t\t\"website\": \"http://www.novusgm.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"info@gs3.es\",\n\t\t\"website\": \"http://www.gs3.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"ciaser@ciaser.es\",\n\t\t\"website\": \"https://www.ciaser.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"%20contacto@anmacentromedico.com\",\n\t\t\"website\": \"https://www.anmacentromedico.com\",\n\t\t\"query\": \"Facility management 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"anmacentromedico@gmail.com\",\n\t\t\"website\": \"https://www.anmacentromedico.com\",\n\t\t\"query\": \"Facility management 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"contacto@anmacentromedico.com\",\n\t\t\"website\": \"https://www.anmacentromedico.com\",\n\t\t\"query\": \"Facility management 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"info@ugtilunionoutsourcing.es\",\n\t\t\"website\": \"http://ugtilunionoutsourcing.es\",\n\t\t\"query\": \"Facility management 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"info@berpra.es\",\n\t\t\"website\": \"https://www.berpra.es\",\n\t\t\"query\": \"Facility management 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"mialias@midominio.com\",\n\t\t\"website\": \"https://www.luzcom.es\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"informacion@luzcom.es\",\n\t\t\"website\": \"https://www.luzcom.es\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"info@arishandyman.com\",\n\t\t\"website\": \"http://www.arishandyman.com\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"info@ledyluz.com\",\n\t\t\"website\": \"https://www.ledyluz.com\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"imb@grupoimb.com\",\n\t\t\"website\": \"http://www.grupoimb.com\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"madrid@gruporias.com\",\n\t\t\"website\": \"https://www.gruporias.com\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"coslada@gruporias.com\",\n\t\t\"website\": \"https://www.gruporias.com\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"leganes@gruporias.com\",\n\t\t\"website\": \"https://www.gruporias.com\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"electroelias_1911@hotmail.com\",\n\t\t\"website\": \"https://www.electricidadeliasmunoz.com\",\n\t\t\"query\": \"Electricidad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"atmkader@hotmail.com\",\n\t\t\"website\": \"https://kaderinstalaciones.com\",\n\t\t\"query\": \"Fontaneria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Fontaneria\"\n\t},\n\t{\n\t\t\"email\": \"contact@info.com\",\n\t\t\"website\": \"https://www.expertosplus.es\",\n\t\t\"query\": \"Fontaneria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Fontaneria\"\n\t},\n\t{\n\t\t\"email\": \"info@everex.es\",\n\t\t\"website\": \"http://www.everex.es\",\n\t\t\"query\": \"Telecomunicaciones 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"soporte@everex.es\",\n\t\t\"website\": \"http://www.everex.es\",\n\t\t\"query\": \"Telecomunicaciones 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"movilbee.es@gmail.com\",\n\t\t\"website\": \"http://movilbee.com\",\n\t\t\"query\": \"Servicio tecnico de electrodomesticos 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Servicio tecnico de electrodomesticos\"\n\t},\n\t{\n\t\t\"email\": \"info@todoreforma.com\",\n\t\t\"website\": \"http://www.todoreforma.com\",\n\t\t\"query\": \"Reformas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"reformas@g3proyectos.es\",\n\t\t\"website\": \"https://g3proyectos.es\",\n\t\t\"query\": \"Reformas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"presupuestoscomunidad@gmail.com\",\n\t\t\"website\": \"https://www.reformasfachadas.com\",\n\t\t\"query\": \"Reformas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"fachadas@email.com\",\n\t\t\"website\": \"https://www.reformasfachadas.com\",\n\t\t\"query\": \"Reformas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"info@reformaspaysan.com\",\n\t\t\"website\": \"http://www.reformaspaysan.com\",\n\t\t\"query\": \"Reformas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"info@reformasprihego.com\",\n\t\t\"website\": \"https://www.reformasprihego.net\",\n\t\t\"query\": \"Reformas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"jalejo@construcomalejo.es\",\n\t\t\"website\": \"https://www.construcomalejo.com\",\n\t\t\"query\": \"Reformas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"info@bnbholder.com\",\n\t\t\"website\": \"https://www.waourentals.com\",\n\t\t\"query\": \"Control de rutas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Control de rutas\"\n\t},\n\t{\n\t\t\"email\": \"reservas@bnbholder.com\",\n\t\t\"website\": \"https://www.waourentals.com\",\n\t\t\"query\": \"Control de rutas 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Control de rutas\"\n\t},\n\t{\n\t\t\"email\": \"info@melior10.com\",\n\t\t\"website\": \"http://www.melior10.com\",\n\t\t\"query\": \"Entregas con incidencias 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Entregas con incidencias\"\n\t},\n\t{\n\t\t\"email\": \"john@email.com\",\n\t\t\"website\": \"https://melior10.com/contacta-con-nosotros\",\n\t\t\"query\": \"Entregas con incidencias 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Entregas con incidencias\"\n\t},\n\t{\n\t\t\"email\": \"lopd@eurologistica.es\",\n\t\t\"website\": \"http://eurologisticadirecta.com/contacto\",\n\t\t\"query\": \"Entregas con incidencias 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Entregas con incidencias\"\n\t},\n\t{\n\t\t\"email\": \"comercial@gesgrup.es\",\n\t\t\"website\": \"https://gesgrup.es\",\n\t\t\"query\": \"Manipulacion en almacen 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"8%@yj.il\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/149417921050571144\",\n\t\t\"query\": \"Manipulacion en almacen 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"pp@optwwuutvwutw57u4574745.nhv\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/6023049340585969132/composite_map_square_logo_v2\",\n\t\t\"query\": \"Manipulacion en almacen 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"info@agarformacion.es\",\n\t\t\"website\": \"https://www.agarformacion.es\",\n\t\t\"query\": \"Manipulacion en almacen 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"hola@mas-spacio.com\",\n\t\t\"website\": \"https://www.mas-spacio.com\",\n\t\t\"query\": \"Manipulacion en almacen 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"hola@mas-espacio.com\",\n\t\t\"website\": \"https://www.mas-spacio.com\",\n\t\t\"query\": \"Manipulacion en almacen 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"atencionweb@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.pinto@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.n1madrid@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.avila@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.guadalajara@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.segovia@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.toledo@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.valencia@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.vallas@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info.ferreteria@rentaire.es\",\n\t\t\"website\": \"https://www.rentaire.es/maquinaria-construccion/alquiler/herramientas-de-mano\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"limpiezasjv.madrid@gmail.com\",\n\t\t\"website\": \"https://www.limpiezadetapiceriamadrid.com\",\n\t\t\"query\": \"Limpieza 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"garmartrat@hotmail.com\",\n\t\t\"website\": \"https://www.garmartratamientos.es\",\n\t\t\"query\": \"Limpieza 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"info@garmartratamientos.es\",\n\t\t\"website\": \"https://www.garmartratamientos.es\",\n\t\t\"query\": \"Limpieza 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"hannahansson@business.com\",\n\t\t\"website\": \"https://www.garmartratamientos.es\",\n\t\t\"query\": \"Limpieza 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"cleanservicespp@gmail.com\",\n\t\t\"website\": \"https://limpiezaymultiservicios.com\",\n\t\t\"query\": \"Limpieza 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"soporte@webador.es\",\n\t\t\"website\": \"https://www.adiosguarreria.es\",\n\t\t\"query\": \"Limpieza 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"adiosguarreria@gmail.com\",\n\t\t\"website\": \"https://www.adiosguarreria.es\",\n\t\t\"query\": \"Limpieza 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"store@emacs.es\",\n\t\t\"website\": \"http://store.emacs.es\",\n\t\t\"query\": \"Seguridad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"info@movistarproseguralarmas.es\",\n\t\t\"website\": \"https://movistarproseguralarmas.es\",\n\t\t\"query\": \"Seguridad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"info@csas.es\",\n\t\t\"website\": \"http://www.csas.es\",\n\t\t\"query\": \"Seguridad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"serviciocerrajeroscm@gmail.com\",\n\t\t\"website\": \"https://serviciocerrajeros.com\",\n\t\t\"query\": \"Seguridad 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"info@salzapaisajismo.com\",\n\t\t\"website\": \"https://www.salzapaisajismo.com\",\n\t\t\"query\": \"Jardineria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"your@email.com\",\n\t\t\"website\": \"http://www.plantasygambas.com\",\n\t\t\"query\": \"Jardineria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"administracion@solydarydarse.org\",\n\t\t\"website\": \"https://www.loslibrosdelabuelo.org\",\n\t\t\"query\": \"Jardineria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"paisajismoyjardineriaolmosl@contacta.email\",\n\t\t\"website\": \"http://jardineriaolmo.com.es\",\n\t\t\"query\": \"Jardineria 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"informaticancr@gmail.com\",\n\t\t\"website\": \"http://www.informaticancr.com/contacto-.html\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@esomos.com\",\n\t\t\"website\": \"https://esomos.com\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"kmd24@kiron.es\",\n\t\t\"website\": \"https://madrid19.kiron.es\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@ofertec.es\",\n\t\t\"website\": \"http://ofertec.es\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@ticrevolution.com\",\n\t\t\"website\": \"http://www.ticrevolution.com\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@aslam.es\",\n\t\t\"website\": \"https://www.aslam.es\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@convinze.es\",\n\t\t\"website\": \"https://www.convinze.es\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"informacion@castellanaconsultores.com\",\n\t\t\"website\": \"https://www.castellanaconsultores.com\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"qualityconta@qualityconta.com\",\n\t\t\"website\": \"https://www.qualityconta.com\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@qualityconta.com\",\n\t\t\"website\": \"https://www.qualityconta.com\",\n\t\t\"query\": \"Consultoria tecnica 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"geotecnia@geogenil.com\",\n\t\t\"website\": \"http://www.geogenil.es\",\n\t\t\"query\": \"Topografia 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Topografia\"\n\t},\n\t{\n\t\t\"email\": \"geogenil@gmail.com\",\n\t\t\"website\": \"http://www.geogenil.es\",\n\t\t\"query\": \"Topografia 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Topografia\"\n\t},\n\t{\n\t\t\"email\": \"info@cyctopografiaydrones.com\",\n\t\t\"website\": \"http://www.cyctopografiaydrones.com\",\n\t\t\"query\": \"Topografia 28027 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28027\",\n\t\t\"giro\": \"Topografia\"\n\t},\n\t{\n\t\t\"email\": \"info@morph.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"sostenibilidad@morph.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"administracion@sumaingenieria.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"paisajismo@morph.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"interiorismo@morph.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"construccion@morph.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"design@morph.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"comunicacion@morph.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"rrhh@morph.es\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"info@morph.com\",\n\t\t\"website\": \"https://www.morph.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"iproyn@iproyn.es\",\n\t\t\"website\": \"https://www.iproyn.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"ejemplo@correo.es\",\n\t\t\"website\": \"https://www.gestiondelicencia.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28027 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28027\"\n\t},\n\t{\n\t\t\"email\": \"anaip@anaip.es\",\n\t\t\"website\": \"http://www.anaip.es\",\n\t\t\"query\": \"Asociaciones empresariales 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"contacto@cepyme.eu\",\n\t\t\"website\": \"http://www.cepyme.es\",\n\t\t\"query\": \"Asociaciones empresariales 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"infopepelimp@gmail.com\",\n\t\t\"website\": \"https://www.pepelimp.com\",\n\t\t\"query\": \"Mantenimiento industrial 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"insserco@insserco.es\",\n\t\t\"website\": \"http://www.insserco.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"dpd-dpo@naturgy.com\",\n\t\t\"website\": \"https://www.ufd.es\",\n\t\t\"query\": \"Electricidad 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"derechos_lopd@ufd.es\",\n\t\t\"website\": \"https://www.ufd.es\",\n\t\t\"query\": \"Electricidad 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"instamad@instamad.es\",\n\t\t\"website\": \"http://www.instamad.es\",\n\t\t\"query\": \"Electricidad 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"maxwell@maxwellsl.com\",\n\t\t\"website\": \"http://www.maxwellsl.com\",\n\t\t\"query\": \"Electricidad 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"info@asenergy.es\",\n\t\t\"website\": \"https://www.asenergy.es\",\n\t\t\"query\": \"Electricidad 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"info@danmur.es\",\n\t\t\"website\": \"http://danmur.es\",\n\t\t\"query\": \"Climatizacion (HVAC) 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Climatizacion (HVAC)\"\n\t},\n\t{\n\t\t\"email\": \"binair@binair.es\",\n\t\t\"website\": \"https://www.binair.es\",\n\t\t\"query\": \"Climatizacion (HVAC) 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Climatizacion (HVAC)\"\n\t},\n\t{\n\t\t\"email\": \"icr@icr-sa.es\",\n\t\t\"website\": \"https://www.icr-sa.es\",\n\t\t\"query\": \"Climatizacion (HVAC) 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Climatizacion (HVAC)\"\n\t},\n\t{\n\t\t\"email\": \"admon@iecico.com\",\n\t\t\"website\": \"http://www.iecico.com\",\n\t\t\"query\": \"Telecomunicaciones 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"wholesale@adamo.es\",\n\t\t\"website\": \"https://mayorista.adamo.es\",\n\t\t\"query\": \"Telecomunicaciones 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"actionmac@actionmac.es\",\n\t\t\"website\": \"http://www.actionmac.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"carservice@mail.com\",\n\t\t\"website\": \"http://www.tcmmotor.com\",\n\t\t\"query\": \"Reparacion de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"tallermadrid@tcmmotor.com\",\n\t\t\"website\": \"http://www.tcmmotor.com\",\n\t\t\"query\": \"Reparacion de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"tiendaonline@euromaster.com\",\n\t\t\"website\": \"https://www.euromaster-neumaticos.es/centros/comunidad-de-madrid/madrid/euromaster-madrid-ventas-calle-colomer\",\n\t\t\"query\": \"Reparacion de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info@reparacionmovil.es\",\n\t\t\"website\": \"https://reparacionmovil.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"epcarservice@gmail.com\",\n\t\t\"website\": \"http://www.elparaiso-carservice.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"tallereslicer@gmail.com\",\n\t\t\"website\": \"http://carroceriaslicer.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"licersl@terra.com\",\n\t\t\"website\": \"http://carroceriaslicer.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"sat@gemadrid.es\",\n\t\t\"website\": \"https://www.generalelectricserviciotecnicooficial.es\",\n\t\t\"query\": \"Servicio tecnico de electrodomesticos 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Servicio tecnico de electrodomesticos\"\n\t},\n\t{\n\t\t\"email\": \"tecnolarasistencia@hotmail.com\",\n\t\t\"website\": \"https://www.generalelectricserviciotecnicooficial.es\",\n\t\t\"query\": \"Servicio tecnico de electrodomesticos 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Servicio tecnico de electrodomesticos\"\n\t},\n\t{\n\t\t\"email\": \"infogreforma@gmail.com\",\n\t\t\"website\": \"http://gruporeforma.es\",\n\t\t\"query\": \"Reformas 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"contacto@gruporeforma.es\",\n\t\t\"website\": \"http://gruporeforma.es\",\n\t\t\"query\": \"Reformas 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"carlosdalre@gmail.com\",\n\t\t\"website\": \"http://gruporeforma.es\",\n\t\t\"query\": \"Reformas 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"carlos.lo.reforma@gmail.com\",\n\t\t\"website\": \"http://www.carlosloreforma.com\",\n\t\t\"query\": \"Reformas 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"info@reforbras.es\",\n\t\t\"website\": \"http://www.reforbras.es\",\n\t\t\"query\": \"Reformas 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"info@ihdstudios.com\",\n\t\t\"website\": \"https://ihdstudioreformas.com\",\n\t\t\"query\": \"Reformas 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"julio@proexcelis.com\",\n\t\t\"website\": \"http://www.proexcelis.com\",\n\t\t\"query\": \"Empresas de obra civil 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Empresas de obra civil\"\n\t},\n\t{\n\t\t\"email\": \"rgallego@arquitecturacomtop.com\",\n\t\t\"website\": \"https://arquitecturatop.com\",\n\t\t\"query\": \"Empresas de obra civil 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Empresas de obra civil\"\n\t},\n\t{\n\t\t\"email\": \"rgallego@arquitecturatop.com\",\n\t\t\"website\": \"https://arquitecturatop.com\",\n\t\t\"query\": \"Empresas de obra civil 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Empresas de obra civil\"\n\t},\n\t{\n\t\t\"email\": \"buzonmadrid@citop.es\",\n\t\t\"website\": \"http://www.citopmadrid.es\",\n\t\t\"query\": \"Empresas de obra civil 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Empresas de obra civil\"\n\t},\n\t{\n\t\t\"email\": \"madrid@citop.es\",\n\t\t\"website\": \"http://www.citopmadrid.es\",\n\t\t\"query\": \"Empresas de obra civil 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Empresas de obra civil\"\n\t},\n\t{\n\t\t\"email\": \"info@aytocc.es\",\n\t\t\"website\": \"https://www.aytocc.es\",\n\t\t\"query\": \"Empresas de obra civil 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Empresas de obra civil\"\n\t},\n\t{\n\t\t\"email\": \"info@mithouse.es\",\n\t\t\"website\": \"https://www.mithouse.es\",\n\t\t\"query\": \"Control de rutas 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Control de rutas\"\n\t},\n\t{\n\t\t\"email\": \"info@mudanzasserrano.com\",\n\t\t\"website\": \"http://www.mudanzasserrano.com\",\n\t\t\"query\": \"Entregas con incidencias 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Entregas con incidencias\"\n\t},\n\t{\n\t\t\"email\": \"info@l5sl.com\",\n\t\t\"website\": \"https://l5cerramientosdeterrazas.com\",\n\t\t\"query\": \"Manipulacion en almacen 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"info@futurcentrodeestudios.com\",\n\t\t\"website\": \"https://www.futurcentrodeestudios.com\",\n\t\t\"query\": \"Manipulacion en almacen 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"webmaster@masterd.es\",\n\t\t\"website\": \"https://www.escuelalogisticadavante.es\",\n\t\t\"query\": \"Manipulacion en almacen 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"castroglass@castroglass.es\",\n\t\t\"website\": \"https://www.castroglass.es\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info@alincoservicios.com\",\n\t\t\"website\": \"http://www.alincoservicios.com\",\n\t\t\"query\": \"Limpieza 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"tintoreriasroma1@gmail.com\",\n\t\t\"website\": \"http://www.tintoreriasroma.es\",\n\t\t\"query\": \"Limpieza 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"comercial@gruposicor.com\",\n\t\t\"website\": \"https://gruposicor.com/lineas-de-negocio/limpieza-integral\",\n\t\t\"query\": \"Limpieza 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"limpiezasengeneralsj@gmail.com\",\n\t\t\"website\": \"http://www.limpiezassj.com\",\n\t\t\"query\": \"Limpieza 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"clientes@tintehispano.com\",\n\t\t\"website\": \"http://tintoreriahispanoamericana.es\",\n\t\t\"query\": \"Limpieza 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"usuario@dominio.com\",\n\t\t\"website\": \"http://www.irati-proyectos.com\",\n\t\t\"query\": \"Jardineria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"info@irati-proyectos.com\",\n\t\t\"website\": \"http://www.irati-proyectos.com\",\n\t\t\"query\": \"Jardineria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"info@irati-proyects.com\",\n\t\t\"website\": \"http://www.irati-proyectos.com\",\n\t\t\"query\": \"Jardineria 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"info@formatalent.com\",\n\t\t\"website\": \"https://www.formatalent.com\",\n\t\t\"query\": \"Consultoria tecnica 28028 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28028\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"tpf-utilities@tpf-utilities.fr\",\n\t\t\"website\": \"http://www.tpfingenieria.com\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28028 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28028\"\n\t},\n\t{\n\t\t\"email\": \"office@tpf.ro\",\n\t\t\"website\": \"http://www.tpfingenieria.com\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28028 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28028\"\n\t},\n\t{\n\t\t\"email\": \"info@tpfingenieria.com\",\n\t\t\"website\": \"http://www.tpfingenieria.com\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28028 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28028\"\n\t},\n\t{\n\t\t\"email\": \"info@ameib.org\",\n\t\t\"website\": \"http://asociacionpachamama.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"administracion@fundacionraices.eu\",\n\t\t\"website\": \"http://www.fundacionraices.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"juridico@fundacionraices.eu\",\n\t\t\"website\": \"http://www.fundacionraices.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"social@fundacionraices.eu\",\n\t\t\"website\": \"http://www.fundacionraices.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"escuela.cocinaconciencia@fundacionraices.eu\",\n\t\t\"website\": \"http://www.fundacionraices.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"empleoconciencia@fundacionraices.eu\",\n\t\t\"website\": \"http://www.fundacionraices.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"comunicacion@feex.org\",\n\t\t\"website\": \"http://www.feex.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"informacion@dircom.org\",\n\t\t\"website\": \"https://www.dircom.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"empleo@dircom.org\",\n\t\t\"website\": \"https://www.dircom.org\",\n\t\t\"query\": \"Asociaciones empresariales 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"admin@saglomultiservicios.com\",\n\t\t\"website\": \"https://saglomultiservicios.com\",\n\t\t\"query\": \"Mantenimiento industrial 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"info@limpiezasselimco.com\",\n\t\t\"website\": \"http://www.limpiezasselimco.com\",\n\t\t\"query\": \"Mantenimiento industrial 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"info@sinergiaic.es\",\n\t\t\"website\": \"https://www.sinergiaic.es\",\n\t\t\"query\": \"Mantenimiento industrial 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"administracion@oikodomos.es\",\n\t\t\"website\": \"https://oikodomos.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"jrios@diazsl.com\",\n\t\t\"website\": \"https://diazsl.com\",\n\t\t\"query\": \"Mantenimiento de edificios 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"obras@simfer.es\",\n\t\t\"website\": \"https://simfer.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"info@factotumsoluciona.com\",\n\t\t\"website\": \"https://simfer.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"sc@screhabilitaciones.com\",\n\t\t\"website\": \"http://www.screhabilitaciones.com\",\n\t\t\"query\": \"Mantenimiento de edificios 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"castor@limpiezascastor.es\",\n\t\t\"website\": \"https://www.limpiezascastor.es/empresa-limpieza-madrid\",\n\t\t\"query\": \"Mantenimiento de edificios 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"info@ozonio.es\",\n\t\t\"website\": \"https://ozonio.net\",\n\t\t\"query\": \"Mantenimiento de edificios 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"weresolve@weresolve.es\",\n\t\t\"website\": \"https://weresolve.es\",\n\t\t\"query\": \"Mantenimiento preventivo y correctivo 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Mantenimiento preventivo y correctivo\"\n\t},\n\t{\n\t\t\"email\": \"sacbcn@servicepoint.net\",\n\t\t\"website\": \"http://www.servicepoint.es\",\n\t\t\"query\": \"Facility management 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"digitalmadrid@servicepoint.net\",\n\t\t\"website\": \"http://www.servicepoint.es\",\n\t\t\"query\": \"Facility management 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"megaservicebcn@servicepoint.net\",\n\t\t\"website\": \"http://www.servicepoint.es\",\n\t\t\"query\": \"Facility management 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"direccion@riteconsultores.es\",\n\t\t\"website\": \"https://electricistasautorizadosmadrid.es\",\n\t\t\"query\": \"Electricidad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"instalaciones@elemak.es\",\n\t\t\"website\": \"https://elemak.es\",\n\t\t\"query\": \"Electricidad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"instalaciones@electricaslafinca.es\",\n\t\t\"website\": \"https://www.instalacioneselectricaslafinca.es\",\n\t\t\"query\": \"Electricidad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"bricoferja@gmail.com\",\n\t\t\"website\": \"http://www.bricoferja.com\",\n\t\t\"query\": \"Electricidad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"josemg53@gmail.com\",\n\t\t\"website\": \"http://www.mitecinstalaciones.es\",\n\t\t\"query\": \"Electricidad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"info@andetel.com\",\n\t\t\"website\": \"https://www.andetel.com\",\n\t\t\"query\": \"Electricidad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"comercial@termired.com\",\n\t\t\"website\": \"https://www.termired.com\",\n\t\t\"query\": \"Electricidad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"info@garry.es\",\n\t\t\"website\": \"http://garry.es\",\n\t\t\"query\": \"Fontaneria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Fontaneria\"\n\t},\n\t{\n\t\t\"email\": \"info@surfonsl.es\",\n\t\t\"website\": \"https://surfonsl.es\",\n\t\t\"query\": \"Fontaneria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Fontaneria\"\n\t},\n\t{\n\t\t\"email\": \"fontaneroeloy@gmail.com\",\n\t\t\"website\": \"http://www.safocar.es\",\n\t\t\"query\": \"Fontaneria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Fontaneria\"\n\t},\n\t{\n\t\t\"email\": \"hola@ejemplo.com\",\n\t\t\"website\": \"https://www.airmasa.es\",\n\t\t\"query\": \"Climatizacion (HVAC) 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Climatizacion (HVAC)\"\n\t},\n\t{\n\t\t\"email\": \"airmasa@airmasa.com\",\n\t\t\"website\": \"https://www.airmasa.es\",\n\t\t\"query\": \"Climatizacion (HVAC) 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Climatizacion (HVAC)\"\n\t},\n\t{\n\t\t\"email\": \"info@acivesa.com\",\n\t\t\"website\": \"http://www.acivesa.com\",\n\t\t\"query\": \"Climatizacion (HVAC) 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Climatizacion (HVAC)\"\n\t},\n\t{\n\t\t\"email\": \"hola@clicreparacion.com\",\n\t\t\"website\": \"https://clicreparacion.com/fuencarral-el-pardo\",\n\t\t\"query\": \"Climatizacion (HVAC) 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Climatizacion (HVAC)\"\n\t},\n\t{\n\t\t\"email\": \"info@altersol.es\",\n\t\t\"website\": \"https://www.altersol.es\",\n\t\t\"query\": \"\\\"Energias renovables (instalacion de placas\",\n\t\t\"city\": \" aerotermia) 28029 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28029\"\n\t},\n\t{\n\t\t\"email\": \"webinfo@gigavoz.com\",\n\t\t\"website\": \"https://www.gigavoz.com/Empresas/Madrid\",\n\t\t\"query\": \"Telecomunicaciones 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"hola@fibratel.com\",\n\t\t\"website\": \"https://www.fibratel.com\",\n\t\t\"query\": \"Telecomunicaciones 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"teltron@teltron.es\",\n\t\t\"website\": \"http://www.teltron.es\",\n\t\t\"query\": \"Telecomunicaciones 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"gestion@madritech.es\",\n\t\t\"website\": \"https://madritech.es\",\n\t\t\"query\": \"Telecomunicaciones 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"contacto@ayscom.com\",\n\t\t\"website\": \"https://www.ayscom.com\",\n\t\t\"query\": \"Telecomunicaciones 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"info@lolol.es\",\n\t\t\"website\": \"http://www.lolol.es\",\n\t\t\"query\": \"Telecomunicaciones 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"ayuda@comunica.com\",\n\t\t\"website\": \"https://www.comunica.com\",\n\t\t\"query\": \"Telecomunicaciones 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"marketing@comunica.com\",\n\t\t\"website\": \"https://www.comunica.com\",\n\t\t\"query\": \"Telecomunicaciones 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Telecomunicaciones\"\n\t},\n\t{\n\t\t\"email\": \"info@ritmotalleres.es\",\n\t\t\"website\": \"http://www.ritmotalleres.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info@talleresritmo.es\",\n\t\t\"website\": \"http://www.ritmotalleres.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info@talleresritmo.com\",\n\t\t\"website\": \"http://www.ritmotalleres.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"info@reparamix.es\",\n\t\t\"website\": \"http://www.reparamix.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"ferminfrz@gmail.com\",\n\t\t\"website\": \"https://neumaticosfernandez.net\",\n\t\t\"query\": \"Reparacion de maquinaria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"atencion_al_cliente@natisatalleres.com\",\n\t\t\"website\": \"http://www.natisatalleres.com\",\n\t\t\"query\": \"Reparacion de maquinaria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"vcanoantonio@hotmail.com\",\n\t\t\"website\": \"http://www.tallercochesvcano.es\",\n\t\t\"query\": \"Reparacion de maquinaria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reparacion de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"emnomix@gmail.com\",\n\t\t\"website\": \"http://www.emnomix.com\",\n\t\t\"query\": \"Servicio tecnico de electrodomesticos 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicio tecnico de electrodomesticos\"\n\t},\n\t{\n\t\t\"email\": \"jcservix@gmail.com\",\n\t\t\"website\": \"https://manitasjc.online\",\n\t\t\"query\": \"Servicio tecnico de electrodomesticos 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicio tecnico de electrodomesticos\"\n\t},\n\t{\n\t\t\"email\": \"tu@email.com\",\n\t\t\"website\": \"https://manitasjc.online\",\n\t\t\"query\": \"Servicio tecnico de electrodomesticos 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicio tecnico de electrodomesticos\"\n\t},\n\t{\n\t\t\"email\": \"administracion@telezon.es\",\n\t\t\"website\": \"http://www.telezon.es\",\n\t\t\"query\": \"Servicio tecnico de electrodomesticos 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicio tecnico de electrodomesticos\"\n\t},\n\t{\n\t\t\"email\": \"info@electrocasion.com\",\n\t\t\"website\": \"http://www.electrocasion.com\",\n\t\t\"query\": \"Servicio tecnico de electrodomesticos 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicio tecnico de electrodomesticos\"\n\t},\n\t{\n\t\t\"email\": \"luis@jldecoracion.es\",\n\t\t\"website\": \"http://www.jldecoracion.com\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"obras@reformasiberia.com\",\n\t\t\"website\": \"https://www.reformasiberia.com\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"reformasengeneraldani22@gmail.com\",\n\t\t\"website\": \"https://wa.beedigital.es/la/reformas-en-general-dani\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"jsg.reformas.contacto@gmail.com\",\n\t\t\"website\": \"https://www.jsgreformas.com\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"betanzos@reformasinteca.es\",\n\t\t\"website\": \"https://reformasinteca.es\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"ginzodelimia@reformasinteca.es\",\n\t\t\"website\": \"https://reformasinteca.es\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"fermincaballero@reformasinteca.es\",\n\t\t\"website\": \"https://reformasinteca.es\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"grupo@ayadecoracion.com\",\n\t\t\"website\": \"http://www.ayareformas.com\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"ayareformasmadrid@gmail.com\",\n\t\t\"website\": \"http://www.ayareformas.com\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"hceballosreformas@gmail.com\",\n\t\t\"website\": \"https://storage.googleapis.com/www.hceballos.com/index.html\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"elba@grupoirtucasa.es\",\n\t\t\"website\": \"https://tucasaestudio.com\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"info@reformasintegralesescribano.es\",\n\t\t\"website\": \"http://www.reformasintegralesescribano.es\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"tienda@reformasportela.com\",\n\t\t\"website\": \"https://www.reformasportela.com\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"sr.suarezreformas@gmail.es\",\n\t\t\"website\": \"https://srsuarezreformas.my.canva.site\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"c_reformas@yahoo.com\",\n\t\t\"website\": \"http://reformasmirel.blogspot.com\",\n\t\t\"query\": \"Reformas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Reformas\"\n\t},\n\t{\n\t\t\"email\": \"aocsa@aocsa.es\",\n\t\t\"website\": \"http://www.aocsa.es\",\n\t\t\"query\": \"Empresas de obra civil 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Empresas de obra civil\"\n\t},\n\t{\n\t\t\"email\": \"crtm_contacto@madrid.org\",\n\t\t\"website\": \"http://www.crtm.es\",\n\t\t\"query\": \"Control de rutas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Control de rutas\"\n\t},\n\t{\n\t\t\"email\": \"tarjetatransportepublico@madrid.org\",\n\t\t\"website\": \"http://www.crtm.es\",\n\t\t\"query\": \"Control de rutas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Control de rutas\"\n\t},\n\t{\n\t\t\"email\": \"consultoria@emtmadrid.es\",\n\t\t\"website\": \"https://www.emtmadrid.es/ViajarenBus/Titulosytarifas\",\n\t\t\"query\": \"Control de rutas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Control de rutas\"\n\t},\n\t{\n\t\t\"email\": \"relacionesinstitucionales@emtmadrid.es\",\n\t\t\"website\": \"https://www.emtmadrid.es/ViajarenBus/Titulosytarifas\",\n\t\t\"query\": \"Control de rutas 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Control de rutas\"\n\t},\n\t{\n\t\t\"email\": \"mbe@mbe.es\",\n\t\t\"website\": \"http://www.mbe.es/es/envios/madrid/3330\",\n\t\t\"query\": \"Entregas con incidencias 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Entregas con incidencias\"\n\t},\n\t{\n\t\t\"email\": \"wwdevelopment@mbeglobal.com\",\n\t\t\"website\": \"http://www.mbe.es/es/envios/madrid/3330\",\n\t\t\"query\": \"Entregas con incidencias 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Entregas con incidencias\"\n\t},\n\t{\n\t\t\"email\": \"info@joseyien.com\",\n\t\t\"website\": \"https://www.enviosyien.com\",\n\t\t\"query\": \"Entregas con incidencias 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Entregas con incidencias\"\n\t},\n\t{\n\t\t\"email\": \"fuencarral@tip-sa.com\",\n\t\t\"website\": \"https://www.tip-sa.com/es/agencias-de-transporte/madrid/madrid/028035\",\n\t\t\"query\": \"Entregas con incidencias 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Entregas con incidencias\"\n\t},\n\t{\n\t\t\"email\": \"ng@i.te\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/6193924507121876770/composite_map_square_logo_v2\",\n\t\t\"query\": \"Servicios agricolas a terceros 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"k@olbtuq.dz\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/12760493804548062825\",\n\t\t\"query\": \"Servicios agricolas a terceros 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"uz@fq.ksm\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/9549011905339525717/composite_map_square_logo_v2\",\n\t\t\"query\": \"Servicios agricolas a terceros 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"cai-ops@adobe.com\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/2369574127357615828\",\n\t\t\"query\": \"Servicios agricolas a terceros 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"o@tgi.xqi\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/2369574127357615828\",\n\t\t\"query\": \"Servicios agricolas a terceros 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"hola@telelavo.com\",\n\t\t\"website\": \"https://telelavo.com/lavanderia-cerca-de-mi/madrid/la-paz\",\n\t\t\"query\": \"Limpieza 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"madridbarriodelpilar@bloomest.es\",\n\t\t\"website\": \"http://madridbarriodelpilar.bloomest.es\",\n\t\t\"query\": \"Limpieza 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"info@gekkoclean.es\",\n\t\t\"website\": \"https://gekkoclean.es\",\n\t\t\"query\": \"Limpieza 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"info@limpiezasraz.com\",\n\t\t\"website\": \"http://www.limpiezasraz.com\",\n\t\t\"query\": \"Limpieza 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"contacto@limpia360.com\",\n\t\t\"website\": \"https://limpia360.com\",\n\t\t\"query\": \"Limpieza 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"info@servicialia.cat\",\n\t\t\"website\": \"https://servicialia.cat/vaciado-de-pisos-en-madrid\",\n\t\t\"query\": \"Limpieza 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"mudanzas@servicialia.cat\",\n\t\t\"website\": \"https://servicialia.cat/vaciado-de-pisos-en-madrid\",\n\t\t\"query\": \"Limpieza 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"plaguiplan@plaguiplan.com\",\n\t\t\"website\": \"http://www.plaguiplan.es\",\n\t\t\"query\": \"Limpieza 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"contacto@aerium.es\",\n\t\t\"website\": \"https://www.aerium.es/en-gb\",\n\t\t\"query\": \"Seguridad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"info@gruposai.es\",\n\t\t\"website\": \"https://www.gruposai.es\",\n\t\t\"query\": \"Seguridad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"euroma@euroma.es\",\n\t\t\"website\": \"https://www.euroma.es\",\n\t\t\"query\": \"Seguridad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"vegastarlock@gmail.com\",\n\t\t\"website\": \"http://www.vegastarlock.com\",\n\t\t\"query\": \"Seguridad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"info@fasa20.org\",\n\t\t\"website\": \"https://volarseguro.org\",\n\t\t\"query\": \"Seguridad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"%20info@volarseguro.org\",\n\t\t\"website\": \"https://volarseguro.org\",\n\t\t\"query\": \"Seguridad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"soporte@aerium.es\",\n\t\t\"website\": \"https://www.aerium.es\",\n\t\t\"query\": \"Seguridad 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"contacto@talatumpodas.es\",\n\t\t\"website\": \"https://talatumpodas.es/contacto\",\n\t\t\"query\": \"Jardineria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"moiseosanchez@gmail.com\",\n\t\t\"website\": \"https://talatumpodas.es/contacto\",\n\t\t\"query\": \"Jardineria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"eljardindearalia@gmail.com\",\n\t\t\"website\": \"http://www.eljardindearalia.com\",\n\t\t\"query\": \"Jardineria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"tonieta@hotmail.com\",\n\t\t\"website\": \"https://floresyplantasmoreno.com\",\n\t\t\"query\": \"Jardineria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"info@fundacionjares.org\",\n\t\t\"website\": \"http://www.fundacionjares.org\",\n\t\t\"query\": \"Jardineria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"gerencia@fundacionjares.org\",\n\t\t\"website\": \"http://www.fundacionjares.org\",\n\t\t\"query\": \"Jardineria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"info@playgarden.es\",\n\t\t\"website\": \"http://www.viverosshangai.es\",\n\t\t\"query\": \"Jardineria 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"jorge.sebastian@sebastianconsultores.com\",\n\t\t\"website\": \"http://sebastianconsultores.com\",\n\t\t\"query\": \"Consultoria tecnica 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"rgpd@peritosinformaticos.es\",\n\t\t\"website\": \"https://peritosinformaticos.es\",\n\t\t\"query\": \"Consultoria tecnica 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@peritosinformaticos.es\",\n\t\t\"website\": \"https://peritosinformaticos.es\",\n\t\t\"query\": \"Consultoria tecnica 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"madrid@peritosinformaticos.es\",\n\t\t\"website\": \"https://peritosinformaticos.es/perito-informatico-en-madrid\",\n\t\t\"query\": \"Consultoria tecnica 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@grupodigital.net\",\n\t\t\"website\": \"http://www.grupodigital.eu\",\n\t\t\"query\": \"Consultoria tecnica 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"topografia@alcortopografos.com\",\n\t\t\"website\": \"http://www.alcortopografos.com\",\n\t\t\"query\": \"Topografia 28029 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28029\",\n\t\t\"giro\": \"Topografia\"\n\t},\n\t{\n\t\t\"email\": \"comunicacion@fundacionsenara.org\",\n\t\t\"website\": \"http://www.fundacionsenara.org\",\n\t\t\"query\": \"Asociaciones empresariales 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"nombre@ejemplo.com\",\n\t\t\"website\": \"http://www.fundacionsenara.org\",\n\t\t\"query\": \"Asociaciones empresariales 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"grupo6@grupo6mantenimiento.com\",\n\t\t\"website\": \"https://grupo6mantenimiento.com\",\n\t\t\"query\": \"Mantenimiento industrial 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"cf.frioyclimatizacion@madrid.org\",\n\t\t\"website\": \"https://frioyclimatizacion.centrosdeformacion.empleo.madrid.org\",\n\t\t\"query\": \"Mantenimiento industrial 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"info@corpi7.es\",\n\t\t\"website\": \"https://corpi7.es\",\n\t\t\"query\": \"Mantenimiento industrial 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"contacto@fioriservicios.com\",\n\t\t\"website\": \"https://fioriservicios.com\",\n\t\t\"query\": \"Mantenimiento de edificios 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"info@limasol.es\",\n\t\t\"website\": \"https://www.limasol.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"info@crisanservicios.es\",\n\t\t\"website\": \"https://www.crisan-limpiezas.com\",\n\t\t\"query\": \"Mantenimiento de edificios 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"talleresfontarron@hotmail.com\",\n\t\t\"website\": \"http://talleresfontarron.es\",\n\t\t\"query\": \"Mantenimiento preventivo y correctivo 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento preventivo y correctivo\"\n\t},\n\t{\n\t\t\"email\": \"comercial@obins.es\",\n\t\t\"website\": \"https://www.obins.es\",\n\t\t\"query\": \"Mantenimiento preventivo y correctivo 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento preventivo y correctivo\"\n\t},\n\t{\n\t\t\"email\": \"info@serviciossogar.com\",\n\t\t\"website\": \"https://www.serviciossogar.com\",\n\t\t\"query\": \"Facility management 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Facility management\"\n\t},\n\t{\n\t\t\"email\": \"deyce@deyce.com\",\n\t\t\"website\": \"http://www.deyce.com\",\n\t\t\"query\": \"Electricidad 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"info@serdyma.com\",\n\t\t\"website\": \"https://www.serdyma.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"soniacorralo@manipuladoscorralo.com\",\n\t\t\"website\": \"https://manipuladoscorralo.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"miguelcorralo@manipuladoscorralo.com\",\n\t\t\"website\": \"https://manipuladoscorralo.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"pilardelmolino@molgod.es\",\n\t\t\"website\": \"https://molgod.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"luisdelmolimo@molgod.es\",\n\t\t\"website\": \"https://molgod.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"luisdelmolino@molgod.es\",\n\t\t\"website\": \"https://molgod.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"rosadelmolino@molgod.es\",\n\t\t\"website\": \"https://molgod.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"equality@equality.es\",\n\t\t\"website\": \"https://www.equality.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"hola@vivva.es\",\n\t\t\"website\": \"http://vivva.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"trabaja@vivva.es\",\n\t\t\"website\": \"http://vivva.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"pedidos@bgadirect.es\",\n\t\t\"website\": \"http://www.bgadirect.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"comercial@bgadirect.es\",\n\t\t\"website\": \"http://www.bgadirect.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"contacto@bgadirect.es\",\n\t\t\"website\": \"http://www.bgadirect.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"customer@imprexeurope.com\",\n\t\t\"website\": \"https://imprex.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"protecciondedatos@imprexeurope.com\",\n\t\t\"website\": \"https://imprex.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"info@abalorioscrystalia.com\",\n\t\t\"website\": \"https://www.abalorioscrystalia.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"stylepack@stylepack.es\",\n\t\t\"website\": \"http://www.stylepack.es\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"info@banium.com\",\n\t\t\"website\": \"https://www.banium.com\",\n\t\t\"query\": \"Manipulacion en almacen 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Manipulacion en almacen\"\n\t},\n\t{\n\t\t\"email\": \"t5b@u.mf\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/3781793991430899638\",\n\t\t\"query\": \"Tareas agricolas 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Tareas agricolas\"\n\t},\n\t{\n\t\t\"email\": \"protecciondedatos@iconsejeros.com\",\n\t\t\"website\": \"https://www.iconsejeros.com\",\n\t\t\"query\": \"Tareas agricolas 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Tareas agricolas\"\n\t},\n\t{\n\t\t\"email\": \"miguelangeljoga@yahoo.es\",\n\t\t\"website\": \"https://www.outletdelmotorista.es\",\n\t\t\"query\": \"Tareas agricolas 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Tareas agricolas\"\n\t},\n\t{\n\t\t\"email\": \"mostoles@outletdelmotorista.es\",\n\t\t\"website\": \"https://www.outletdelmotorista.es\",\n\t\t\"query\": \"Tareas agricolas 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Tareas agricolas\"\n\t},\n\t{\n\t\t\"email\": \"madrid@outletdelmotorista.es\",\n\t\t\"website\": \"https://www.outletdelmotorista.es\",\n\t\t\"query\": \"Tareas agricolas 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Tareas agricolas\"\n\t},\n\t{\n\t\t\"email\": \"albacete@outletdelmotorista.es\",\n\t\t\"website\": \"https://www.outletdelmotorista.es\",\n\t\t\"query\": \"Tareas agricolas 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Tareas agricolas\"\n\t},\n\t{\n\t\t\"email\": \"info@elgatolimpieza.com\",\n\t\t\"website\": \"https://www.elgatolimpieza.com\",\n\t\t\"query\": \"Mantenimiento de maquinaria 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Mantenimiento de maquinaria\"\n\t},\n\t{\n\t\t\"email\": \"2@t.bo\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/3360383061078874064\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"9@re.bl\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/16871741494786217288\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"vx@v.pruua\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/16871741494786217288\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"d4@.4.ov\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/16871741494786217288\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"7b@uts7.llx\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/16871741494786217288\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"t@bbp.teit\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/8150617574954252021\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"k@zel.iz\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/8150617574954252021\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"cl_n@y.ow\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/8150617574954252021\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"3xkub@c.se\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/8150617574954252021\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"+ln@ng.ni\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/8391343657945455937\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"e@sbez.tvrn\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/9387365910106840327\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"r@9.qwuad\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/9387365910106840327\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"+@1.sh\",\n\t\t\"website\": \"https://tpc.googlesyndication.com/simgad/9387365910106840327\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"hola@lecuaviation.com\",\n\t\t\"website\": \"https://www.lecuaviation.com\",\n\t\t\"query\": \"Servicios agricolas a terceros 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Servicios agricolas a terceros\"\n\t},\n\t{\n\t\t\"email\": \"clientes@facilice.com\",\n\t\t\"website\": \"https://facilice.com\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"info@siemprelimpio.es\",\n\t\t\"website\": \"https://siemprelimpiomadrid.es\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"%20info@siemprelimpiomadrid.es\",\n\t\t\"website\": \"https://siemprelimpiomadrid.es\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"info@siemprelimpiomadrid.es\",\n\t\t\"website\": \"https://siemprelimpiomadrid.es\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"administracion@prodelimp.es\",\n\t\t\"website\": \"https://www.prodelimp.es\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"limpiezasgallego@gmail.com\",\n\t\t\"website\": \"https://limpiezasadomiciliomadrid.com\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"info@alimsersl.es\",\n\t\t\"website\": \"http://www.alimsersl.es\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"info@alimsersl.com\",\n\t\t\"website\": \"http://www.alimsersl.es\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"serlimp@serlimp.es\",\n\t\t\"website\": \"https://www.serlimp.es\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"serlimp@serlimp.com\",\n\t\t\"website\": \"https://www.serlimp.es\",\n\t\t\"query\": \"Limpieza 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Limpieza\"\n\t},\n\t{\n\t\t\"email\": \"clientes@unocerraduras.es\",\n\t\t\"website\": \"https://unocerraduras.es\",\n\t\t\"query\": \"Seguridad 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"su@email.com\",\n\t\t\"website\": \"https://unocerraduras.es/contacto\",\n\t\t\"query\": \"Seguridad 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"info@rejasdeballesta.madrid\",\n\t\t\"website\": \"https://rejasdeballesta.madrid\",\n\t\t\"query\": \"Seguridad 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Seguridad\"\n\t},\n\t{\n\t\t\"email\": \"silvosa@silvosahermanos.es\",\n\t\t\"website\": \"https://silvosahermanos.es\",\n\t\t\"query\": \"Jardineria 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"agm.txilum@txilum.com\",\n\t\t\"website\": \"https://www.madridjardineros.com\",\n\t\t\"query\": \"Jardineria 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"administracion@txilum.com\",\n\t\t\"website\": \"https://www.madridjardineros.com\",\n\t\t\"query\": \"Jardineria 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Jardineria\"\n\t},\n\t{\n\t\t\"email\": \"comercial@corsan.info\",\n\t\t\"website\": \"https://corsan.info\",\n\t\t\"query\": \"Consultoria tecnica 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"lopd@corsan.info\",\n\t\t\"website\": \"https://corsan.info\",\n\t\t\"query\": \"Consultoria tecnica 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"hola@homologacion-vehiculos.com\",\n\t\t\"website\": \"https://homologacion-vehiculos.com/contacto\",\n\t\t\"query\": \"Consultoria tecnica 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"soporte@grupospsinternacional.com\",\n\t\t\"website\": \"http://www.grupospstraining.com\",\n\t\t\"query\": \"Consultoria tecnica 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@kalaman.es\",\n\t\t\"website\": \"https://www.kalaman.es\",\n\t\t\"query\": \"Consultoria tecnica 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"alexiscarballo95@gmail.com\",\n\t\t\"website\": \"https://axiosconsultores.es\",\n\t\t\"query\": \"Consultoria tecnica 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"info@piqma.es\",\n\t\t\"website\": \"https://www.piqma.es\",\n\t\t\"query\": \"Consultoria tecnica 28030 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28030\",\n\t\t\"giro\": \"Consultoria tecnica\"\n\t},\n\t{\n\t\t\"email\": \"3898aguilar@coam.es\",\n\t\t\"website\": \"http://www.peritoarquitectomadrid.com\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28030 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28030\"\n\t},\n\t{\n\t\t\"email\": \"laguirom3898@gmail.com\",\n\t\t\"website\": \"http://www.peritoarquitectomadrid.com\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28030 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28030\"\n\t},\n\t{\n\t\t\"email\": \"info@arquitectoperito.es\",\n\t\t\"website\": \"http://www.arquitectoperito.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28030 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28030\"\n\t},\n\t{\n\t\t\"email\": \"info@fundamentarq.com\",\n\t\t\"website\": \"http://www.fundamentarq.es\",\n\t\t\"query\": \"\\\"Arquitectura e ingenieria (tomas de datos\",\n\t\t\"city\": \" inspecciones) 28030 Madrid\\\"\",\n\t\t\"postal_code\": \"Madrid\",\n\t\t\"giro\": \"28030\"\n\t},\n\t{\n\t\t\"email\": \"gerencia@asviva.es\",\n\t\t\"website\": \"http://www.asviva.es\",\n\t\t\"query\": \"Asociaciones empresariales 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"patricia.gonzalez94@educa.madrid.org\",\n\t\t\"website\": \"http://www.asviva.es\",\n\t\t\"query\": \"Asociaciones empresariales 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"info@asviva.es\",\n\t\t\"website\": \"http://www.asviva.es\",\n\t\t\"query\": \"Asociaciones empresariales 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Asociaciones empresariales\"\n\t},\n\t{\n\t\t\"email\": \"asesortecnico@sicma21.com\",\n\t\t\"website\": \"https://www.sicma21.com\",\n\t\t\"query\": \"Mantenimiento industrial 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"ventas@julsa.com\",\n\t\t\"website\": \"http://www.julsa.com\",\n\t\t\"query\": \"Mantenimiento industrial 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento industrial\"\n\t},\n\t{\n\t\t\"email\": \"informacion@adyser.es\",\n\t\t\"website\": \"http://www.climatizacioninstalacion.com/es/contacto\",\n\t\t\"query\": \"Mantenimiento de edificios 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"administrador@ae21tecnico.com\",\n\t\t\"website\": \"https://www.ae21tecnico.com\",\n\t\t\"query\": \"Mantenimiento de edificios 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"aestevez@ae21tecnico.com\",\n\t\t\"website\": \"https://www.ae21tecnico.com\",\n\t\t\"query\": \"Mantenimiento de edificios 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"%20info@charlyvertical.es\",\n\t\t\"website\": \"http://www.charlyvertical.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"info@charlyvertical.es\",\n\t\t\"website\": \"http://www.charlyvertical.es\",\n\t\t\"query\": \"Mantenimiento de edificios 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"promar@grupopromar.es\",\n\t\t\"website\": \"https://www.conserjesmadridpromar.com\",\n\t\t\"query\": \"Mantenimiento de edificios 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento de edificios\"\n\t},\n\t{\n\t\t\"email\": \"info@matyse.es\",\n\t\t\"website\": \"http://www.matyse.es\",\n\t\t\"query\": \"Mantenimiento preventivo y correctivo 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento preventivo y correctivo\"\n\t},\n\t{\n\t\t\"email\": \"documentacion@matyse.es\",\n\t\t\"website\": \"http://www.matyse.es\",\n\t\t\"query\": \"Mantenimiento preventivo y correctivo 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento preventivo y correctivo\"\n\t},\n\t{\n\t\t\"email\": \"tecnico@matyse.es\",\n\t\t\"website\": \"http://www.matyse.es\",\n\t\t\"query\": \"Mantenimiento preventivo y correctivo 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento preventivo y correctivo\"\n\t},\n\t{\n\t\t\"email\": \"administracion@matyse.es\",\n\t\t\"website\": \"http://www.matyse.es\",\n\t\t\"query\": \"Mantenimiento preventivo y correctivo 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento preventivo y correctivo\"\n\t},\n\t{\n\t\t\"email\": \"boscoluz@boscoluz.com\",\n\t\t\"website\": \"http://www.boscoluz.com\",\n\t\t\"query\": \"Mantenimiento preventivo y correctivo 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Mantenimiento preventivo y correctivo\"\n\t},\n\t{\n\t\t\"email\": \"info@serviciosintegralesayllon.com\",\n\t\t\"website\": \"https://www.serviciosintegralesayllon.com\",\n\t\t\"query\": \"Electricidad 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"marro@marrosl.es\",\n\t\t\"website\": \"http://marrosl.es\",\n\t\t\"query\": \"Electricidad 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"info@instalacionesyreformasapur.es\",\n\t\t\"website\": \"https://instalacionesyreformasapur.es\",\n\t\t\"query\": \"Electricidad 28031 Madrid\",\n\t\t\"city\": \"Madrid\",\n\t\t\"postal_code\": \"28031\",\n\t\t\"giro\": \"Electricidad\"\n\t},\n\t{\n\t\t\"email\": \"\"\n\t}\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        304
      ],
      "id": "fa5ac943-1809-405d-b945-fae92bc0a4aa",
      "name": "Registros"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-18T07:51:15.483Z",
      "createdAt": "2026-02-18T07:51:15.483Z",
      "role": "workflow:owner",
      "workflowId": "nKjIwQOseNIPq6WQ",
      "projectId": "s4WYDaCaT1Iwz31l"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-18T07:51:15.483Z",
  "versionId": "2816adf2-88f6-4166-bf4d-5cf0fc489164"
}