PAUOnb2bS06nbbMB.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Convertir a CSV": {
      "main": [
        [
          {
            "node": "Enviar CSV por Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Filas CSV": {
      "main": [
        [
          {
            "node": "Convertir a CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "¿Es CSV?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es CSV?": {
      "main": [
        [
          {
            "node": "Extraer CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer Texto PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer CSV": {
      "main": [
        [
          {
            "node": "Parsear Modulos CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Modulos CSV": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Matriz Versiones": {
      "main": [
        [
          {
            "node": "Generar Filas CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Candidatos Snake Case": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto PDF": {
      "main": [
        [
          {
            "node": "Detectar Candidatos Snake Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Preparar Modulo-Version",
            "type": "main",
            "index": 0
          },
          {
            "node": "Construir Matriz Versiones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Versiones": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parsear Versiones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credenciales (editar)": {
      "main": [
        [
          {
            "node": "Bucle 1 - Listar Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle 1 - Listar Repos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle 2 - Módulos por Repo": {
      "main": [
        [
          {
            "node": "¿Tiene módulos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge credenciales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bucle 2 - Módulos por Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene módulos?": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Esperar 1.5s (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 1.5s (rate limit)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge credenciales": {
      "main": [
        [
          {
            "node": "Solo 1 item (evitar 429)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solo 1 item (evitar 429)": {
      "main": [
        [
          {
            "node": "Get Rows (oca_repo_mapping)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows (oca_repo_mapping)": {
      "main": [
        [
          {
            "node": "Filtrar pendientes (max 50)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar pendientes (max 50)": {
      "main": [
        [
          {
            "node": "Añadir credenciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir credenciales": {
      "main": [
        [
          {
            "node": "Loop Over Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items 2": {
      "main": [
        [],
        [
          {
            "node": "Bucle 4 - Versiones por Módulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle 4 - Versiones por Módulo": {
      "main": [
        [
          {
            "node": "Update versiones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update versiones": {
      "main": [
        [
          {
            "node": "Esperar 1.5s (rate limit) 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 1.5s (rate limit) 2": {
      "main": [
        [
          {
            "node": "Loop Over Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Credenciales (editar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-12T15:37:57.045Z",
  "id": "PAUOnb2bS06nbbMB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Busca Versiones Odoo Presupuestos",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Generar combinaciones módulo × versión para comprobaciones posteriores.\n// Toma la salida del nodo de clasificación (IA) y construye items\n// { modulo, version, es_oca, origen, repo_inicial, ... }.\n\nconst versiones = ['12.0','13.0','14.0','15.0','16.0','17.0','18.0','19.0'];\n\nconst version_origen = $json.version_origen || '12.0';\nconst version_objetivo = $json.version_objetivo || '17.0';\n\nconst iOrigen = versiones.indexOf(version_origen);\nconst iObjetivo = versiones.indexOf(version_objetivo);\n\n// Preferimos $json.modulos (salida de la IA). Si no existe, usamos modulos_pre.\nconst base = Array.isArray($json.modulos)\n  ? $json.modulos\n  : (Array.isArray($json.modulos_pre) ? $json.modulos_pre : []);\n\nconst salida = [];\n\nfor (const m of base) {\n  const modulo = m.modulo || m.nombre_detectado || '';\n  if (!modulo) continue;\n\n  const es_oca = !!m.es_oca || m.origen === 'oca';\n  const origen = es_oca ? 'oca' : 'desconocido';\n  const repo_inicial = m.repo_inicial || '';\n  const index = m.index ?? 0;\n\n  for (let i = 0; i < versiones.length; i++) {\n    const v = versiones[i];\n\n    if (iOrigen !== -1 && iObjetivo !== -1) {\n      const min = Math.min(iOrigen, iObjetivo);\n      const max = Math.max(iOrigen, iObjetivo);\n      if (i < min || i > max) continue;\n    }\n\n    salida.push({\n      index,\n      modulo,\n      es_oca,\n      origen,\n      repo_inicial,\n      version: v,\n      version_origen,\n      version_objetivo,\n    });\n  }\n}\n\nreturn salida;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        1104
      ],
      "id": "8a1b3abd-7abe-4810-b2b7-59ac90313722",
      "name": "Preparar Modulo-Version"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "additionalFields": {
          "caption": "Matrices de versiones de módulos Odoo"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        784
      ],
      "id": "60bddab0-1b1f-4111-a25c-da8e872ee22f",
      "name": "Enviar CSV por Telegram",
      "webhookId": "d2180a5b-36b3-49a0-83d0-0719c5282304",
      "credentials": {
        "telegramApi": {
          "id": "da58WVFzyaUS2btp",
          "name": "test"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "fileName": "modulos_odoo.csv",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        1408,
        784
      ],
      "id": "8f18dee4-d529-49e1-af96-955af1131602",
      "name": "Convertir a CSV"
    },
    {
      "parameters": {
        "jsCode": "// Transformar la salida del AI Agent en filas para CSV.\n// El agente suele devolver el JSON dentro de la propiedad `output`\n// como string. Ejemplo:\n//   { output: \"{ \\\"version_origen\\\":..., \\\"modulos\\\":[...] }\" }\n// Este código intenta primero usar $json directamente y, si no hay\n// `modulos`, intenta parsear $json.output.\n\nfunction parsearOutput(output) {\n  if (!output) return null;\n  if (typeof output === 'object') return output;\n  if (typeof output !== 'string') return null;\n\n  // El agente a veces antepone 'json' o espacios, o incluso ```json ... ```.\n  // Buscamos el primer '{' y el último '}' y parseamos ese trozo.\n  const inicio = output.indexOf('{');\n  const fin = output.lastIndexOf('}');\n  if (inicio === -1 || fin === -1 || fin <= inicio) return null;\n\n  const posibleJson = output.slice(inicio, fin + 1);\n  try {\n    return JSON.parse(posibleJson);\n  } catch (e) {\n    return null;\n  }\n}\n\nlet data = $json || {};\n\n// Si no vienen modulos directamente, intentamos sacarlos de `output`.\nif (!Array.isArray(data.modulos) || data.modulos.length === 0) {\n  const desdeOutput = parsearOutput(data.output || data.result || data.data);\n  if (desdeOutput && Array.isArray(desdeOutput.modulos)) {\n    data = desdeOutput;\n  }\n}\n\nconst version_origen = data.version_origen || '12.0';\nconst version_objetivo = data.version_objetivo || '17.0';\n\nconst modulos = Array.isArray(data.modulos) ? data.modulos : [];\n\nif (modulos.length === 0) {\n  return [\n    {\n      modulo: '',\n      origen: 'desconocido',\n      repo_inicial: '',\n      version_odoo_origen: version_origen,\n      version_odoo_objetivo: version_objetivo,\n      v12: 'NO',\n      v13: 'NO',\n      v14: 'NO',\n      v15: 'NO',\n      v16: 'NO',\n      v17: 'NO',\n      v18: 'NO',\n      v19: 'NO',\n      motivo_si_no: 'Sin módulos en la respuesta del agente (revisar salida de AI Agent)',\n      nombre_detectado: '',\n      contexto: '',\n    },\n  ];\n}\n\nconst filas = modulos.map(m => ({\n  modulo: m.modulo || m.nombre_tecnico || '',\n  origen: (m.origen || 'desconocido').toLowerCase(),\n  repo_inicial: m.repo_inicial || '',\n  version_odoo_origen: m.version_odoo_origen || version_origen,\n  version_odoo_objetivo: m.version_odoo_objetivo || version_objetivo,\n  v12: m.v12 || 'NO',\n  v13: m.v13 || 'NO',\n  v14: m.v14 || 'NO',\n  v15: m.v15 || 'NO',\n  v16: m.v16 || 'NO',\n  v17: m.v17 || 'NO',\n  v18: m.v18 || 'NO',\n  v19: m.v19 || 'NO',\n  motivo_si_no: m.motivo_si_no || '',\n  nombre_detectado: m.nombre_detectado || m.modulo || '',\n  contexto: m.contexto || '',\n}));\n\nreturn filas;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        784
      ],
      "id": "08b26b16-1eab-4a5f-b2d7-9c7b8f4a3c9b",
      "name": "Generar Filas CSV"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        976
      ],
      "id": "75601fd5-7060-492a-8adc-0e5b4b25553f",
      "name": "Get a file",
      "webhookId": "7884e6b5-2d49-4e39-a771-cfe800c2692e",
      "credentials": {
        "telegramApi": {
          "id": "da58WVFzyaUS2btp",
          "name": "test"
        }
      }
    },
    {
      "parameters": {
        "content": "## Entrada Telegram\nCSV + caption: estoy en 13.0 quiero 17.0\nTambién acepta PDF",
        "height": 200,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        672
      ],
      "typeVersion": 1,
      "id": "4cca89d1-625c-47a6-a8be-b968d010ee91",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        1200
      ],
      "id": "330834ac-ca57-4816-b4c3-165d623bedf5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Bjrqezyf8XK8C0xF",
          "name": "api gratis marcos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir matriz de versiones 12.0–19.0 para TODOS los módulos\n// recibidos en modulos_pre, sin depender de la IA.\n\nconst version_origen = $json.version_origen || '12.0';\nconst version_objetivo = $json.version_objetivo || '17.0';\n\nconst versiones = ['12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0'];\nconst idxOrigen = versiones.indexOf(version_origen);\nconst idxObjetivo = versiones.indexOf(version_objetivo);\n\nconst modulos_pre = Array.isArray($json.modulos_pre) ? $json.modulos_pre : [];\n\nfunction rangoIncluye(idx, a, b) {\n  const min = Math.min(a, b);\n  const max = Math.max(a, b);\n  return idx >= min && idx <= max;\n}\n\nconst modulos = modulos_pre.map(orig => {\n  const nombre = orig.modulo || '';\n  const origen = (orig.origen || 'desconocido').toLowerCase();\n\n  const m = {\n    modulo: nombre,\n    origen,\n    repo_inicial: '',\n    version_odoo_origen: version_origen,\n    version_odoo_objetivo: version_objetivo,\n    nombre_detectado: nombre,\n    contexto: '',\n  };\n\n  versiones.forEach((v, idx) => {\n    const col = 'v' + v.split('.')[0];\n    let valor = 'NO';\n\n    if (origen === 'oca') {\n      // Heurística simple: SI desde origen hasta objetivo (incluidos)\n      if (idxOrigen !== -1 && idxObjetivo !== -1 && rangoIncluye(idx, idxOrigen, idxObjetivo)) {\n        valor = 'SI';\n      }\n    } else {\n      // Desconocido/custom: SI solo en la versión de origen\n      if (idxOrigen !== -1 && idx === idxOrigen) {\n        valor = 'SI';\n      }\n    }\n\n    m[col] = valor;\n  });\n\n  const colObjetivo = 'v' + version_objetivo.split('.')[0];\n  if (m[colObjetivo] === 'SI') {\n    m.motivo_si_no = 'Disponible en la versión objetivo.';\n  } else {\n    m.motivo_si_no = 'Sin información clara, revisar manualmente.';\n  }\n\n  return m;\n});\n\nreturn {\n  version_origen,\n  version_objetivo,\n  modulos,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        784
      ],
      "id": "af05342d-5a83-480d-bc11-82e5657af9b6",
      "name": "Construir Matriz Versiones"
    },
    {
      "parameters": {
        "jsCode": "// Detectar módulos de forma GENERAL a partir del texto del PDF.\n// Regla: cualquier token en snake_case (letras/números con '_')\n// se considera candidato a módulo.\n\n// 1) Construimos un texto bruto a partir de los campos más típicos\nlet bruto = '';\n\nif (typeof $json.text === 'string') {\n  bruto += $json.text;\n}\nif (typeof $json.texto_pdf === 'string') {\n  // Compatibilidad con versiones anteriores del flujo\n  bruto += '\\n' + $json.texto_pdf;\n}\n\n// Si no hay nada, devolvemos sin módulos\nif (!bruto) {\n  return {\n    version_origen: $json.version_origen,\n    version_objetivo: $json.version_objetivo,\n    modulos_pre: [],\n  };\n}\n\n// 2) Normalizar saltos de línea Windows\nbruto = bruto.replace(/\\r\\n/g, '\\n');\n\n// 3) Unir palabras partidas por guion + salto de línea\n//    (ej: \"account-\\nmove\" -> \"accountmove\")\nbruto = bruto.replace(/-\\s*\\n\\s*/g, '');\n\n// 4) Unir SOLO saltos de línea dentro de nombres en snake_case\n//    (ej: \"hr_timesheet_sheet_attend\\nance\" -> \"hr_timesheet_sheet_attendance\")\n//    Requiere que la parte izquierda tenga al menos un '_' para no unir\n//    palabras normales como \"Contabilidad\\ngst_solar_lot\".\nbruto = bruto.replace(/([a-z0-9]*_[a-z0-9]*)\\s*\\n\\s*([a-z0-9]+)/gi, '$1$2');\n\n// 5) Convertir el resto de saltos de línea y tabs en espacios\nlet texto = bruto.replace(/[\\n\\t]+/g, ' ');\n\n// 6) Colapsar espacios múltiples\ntexto = texto.replace(/\\s+/g, ' ').trim();\n\n// 7) Regex genérico para snake_case: al menos un '_', SOLO minúsculas y dígitos.\n//    Esto evita arrastrar colas como \"transferBankingaddonsAdd\".\nconst regex = /\\b[a-z0-9]+(?:_[a-z0-9]+)+\\b/g;\nconst encontrados = new Set();\nlet match;\n\nwhile ((match = regex.exec(texto)) !== null) {\n  encontrados.add(match[0]); // mantiene el caso tal como aparece\n}\n\n// 8) Convertimos a lista ordenada, con índice estable, y la envolvemos en objetos\nconst modulos_pre = Array.from(encontrados)\n  .sort((a, b) => a.localeCompare(b))\n  .map((nombre, index) => ({ index, modulo: nombre, origen: 'desconocido' }));\n\nconst parsed = $('Parsear Versiones').first().json;\n\nreturn {\n  version_origen: parsed.version_origen || '12.0',\n  version_objetivo: parsed.version_objetivo || '17.0',\n  modulos_pre,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1184
      ],
      "id": "36f80d80-b2eb-4761-9ee4-e57cc65b3f6a",
      "name": "Detectar Candidatos Snake Case"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        1184
      ],
      "id": "5517ee96-6e8c-40be-a156-9943e76b7181",
      "name": "Extraer Texto PDF"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sácame en los módulos su origen. Dime si el módulo es de la OCA o es personalizado o es base",
        "options": {
          "systemMessage": "=Eres un asistente para un flujo de n8n que ayuda a hacer auditorías de módulos de Odoo a partir de informes de consultoría técnica en PDF.\n\nSáqueme para cada módulo su origen. Bien OCA, bien personalizado o bien Base de Odoo.",
          "maxIterations": 1,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        720,
        976
      ],
      "id": "239215f5-e876-4ff8-b85c-532d8e6ba32a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Parsear versiones de Odoo desde texto o caption de Telegram.\n// Formatos soportados:\n// - \"estoy en 13.0 quiero 17.0\"\n// - \"origen 13.0 destino 17.0\"\n// - \"12.0 -> 17.0\" / \"12.0 17.0\"\n\nconst msg = $json.message || {};\nconst mensaje = msg.text || msg.caption || '';\n\nif (!msg.document) {\n  throw new Error('Adjunta un CSV (lista de módulos) o un PDF. En el caption indica versiones, ej: estoy en 13.0 quiero 17.0');\n}\n\nconst doc = msg.document;\nconst fileName = (doc.file_name || '').toLowerCase();\nconst mimeType = (doc.mime_type || '').toLowerCase();\nconst es_csv = fileName.endsWith('.csv') || mimeType.includes('csv') || mimeType === 'text/plain';\n\nconst versiones = Array.from(mensaje.matchAll(/\\b(1[0-9]|[0-9])\\.0\\b/g)).map(m => m[1] + '.0');\n\nlet version_origen = versiones[0] || '12.0';\nlet version_objetivo = versiones[1] || '17.0';\n\nconst lower = mensaje.toLowerCase();\n\nconst matchEstoyEn = lower.match(/estoy en\\s*(1[0-9]|[0-9])\\.0/);\nif (matchEstoyEn) version_origen = matchEstoyEn[1] + '.0';\n\nconst matchQuiero = lower.match(/quiero\\s*(1[0-9]|[0-9])\\.0/);\nif (matchQuiero) version_objetivo = matchQuiero[1] + '.0';\n\nconst matchOrigen = lower.match(/origen\\s*(1[0-9]|[0-9])\\.0/);\nif (matchOrigen) version_origen = matchOrigen[1] + '.0';\n\nconst matchDestino = lower.match(/(destino|objetivo)\\s*(1[0-9]|[0-9])\\.0/);\nif (matchDestino) version_objetivo = matchDestino[2] + '.0';\n\nreturn {\n  ...$json,\n  version_origen,\n  version_objetivo,\n  es_csv,\n  mensaje_parseado: mensaje,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        976
      ],
      "id": "4a8079ce-145c-4fa8-a917-8a18379925ff",
      "name": "Parsear Versiones"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        976
      ],
      "id": "81996d50-e70f-456e-8baa-daaa23d20426",
      "name": "Telegram Trigger",
      "webhookId": "fd5e8156-a7db-496e-b839-362562484168",
      "credentials": {
        "telegramApi": {
          "id": "da58WVFzyaUS2btp",
          "name": "test"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "spreadsheet_id",
              "value": "1kmGHrQ3kR3xI4kKyjKzhXrL-hRKWyADMkKJF0ZfAPnY",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sheet_name",
              "value": "oca_repo_mapping",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "github_token",
              "value": "REDACTED_GITHUB_TOKEN",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        1776
      ],
      "id": "795ca310-8e7d-467f-8794-88b76d25ac4f",
      "name": "Credenciales (editar)"
    },
    {
      "parameters": {
        "jsCode": "// BUCLE 1: Listar todos los repositorios OCA desde GitHub\nconst input = $input.first().json;\nconst spreadsheetId = (input.spreadsheet_id || '').trim();\nconst sheetName = (input.sheet_name || 'oca_repo_mapping').trim();\nconst githubToken = (input.github_token || '').trim();\n\nif (!githubToken) throw new Error('github_token vacío.');\nif (!spreadsheetId) throw new Error('spreadsheet_id obligatorio (ID de la hoja de Google Sheets).');\n\nconst EXCLUDE_REPOS = new Set(['odoo-community.org','OCA.github.io','maintainer-tools','ocabot','oca-addons-repo','oca-port','odoo-module-migrator','openupgrade','runbot-addons']);\nconst ghHeaders = { 'Authorization': `Bearer ${githubToken}`, 'Accept': 'application/vnd.github.v3+json' };\n\nasync function gh(url) {\n  const r = await this.helpers.httpRequest({ url, headers: ghHeaders });\n  await new Promise(r => setTimeout(r, 200));\n  return r;\n}\n\nlet page = 1;\nlet repos = [];\nwhile (true) {\n  const batch = await gh.call(this, `https://api.github.com/orgs/OCA/repos?per_page=100&page=${page}`);\n  if (!Array.isArray(batch) || batch.length === 0) break;\n  repos = repos.concat(batch);\n  if (batch.length < 100) break;\n  page++;\n}\n\nconst addonRepos = repos.filter(r => !EXCLUDE_REPOS.has(r.name) && !r.name.startsWith('.') && r.name !== 'website');\n\nreturn addonRepos.map(r => ({\n  json: {\n    repo: r.name,\n    spreadsheet_id: spreadsheetId,\n    sheet_name: sheetName,\n    github_token: githubToken\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        1776
      ],
      "id": "b0a760f5-d955-40c5-9298-4626a3217e5d",
      "name": "Bucle 1 - Listar Repos"
    },
    {
      "parameters": {
        "jsCode": "// BUCLE 2: Para cada repo, listar módulos de TODAS las versiones 12.0-19.0 (sin duplicados)\n// Un módulo puede existir solo en 13.0 y no en 12.0, por eso scout todas las ramas\nconst items = $input.all();\nconst item = items[0]?.json || {};\nconst repo = item.repo;\nconst githubToken = (item.github_token || '').trim();\nconst spreadsheetId = (item.spreadsheet_id || '').trim();\nconst sheetName = (item.sheet_name || 'oca_repo_mapping').trim();\n\nconst MODULE_REGEX = /^[a-z0-9]+(_[a-z0-9]+)+$/;\nconst VERSIONES = ['12.0','13.0','14.0','15.0','16.0','17.0','18.0','19.0'];\nconst ghHeaders = { 'Authorization': `Bearer ${githubToken}`, 'Accept': 'application/vnd.github.v3+json' };\n\n// Map: modulo -> Set de versiones donde se encontró\nconst modulosEncontrados = new Map();\n\nfor (const version of VERSIONES) {\n  try {\n    const contents = await this.helpers.httpRequest({\n      url: `https://api.github.com/repos/OCA/${repo}/contents?ref=${version}`,\n      headers: ghHeaders\n    });\n    await new Promise(r => setTimeout(r, 180));\n    if (Array.isArray(contents)) {\n      for (const c of contents) {\n        if (c.type === 'dir' && MODULE_REGEX.test(c.name) && !c.name.startsWith('.')) {\n          if (!modulosEncontrados.has(c.name)) {\n            modulosEncontrados.set(c.name, new Set());\n          }\n          modulosEncontrados.get(c.name).add(version);\n        }\n      }\n    }\n  } catch (e) {}\n  await new Promise(r => setTimeout(r, 150));\n}\n\nconst modulos = Array.from(modulosEncontrados.entries()).map(([modulo, versionesSet]) => ({\n  modulo,\n  repo,\n  versiones_disponibles: Array.from(versionesSet).sort(),\n  versiones_completas: false,\n  updated_at: new Date().toISOString()\n}));\n\nif (modulos.length === 0) {\n  return [{ json: { repo: repo, modulo: '', _passthrough: true } }];\n}\n\nreturn modulos.map(m => ({\n  json: {\n    modulo: m.modulo,\n    repo: m.repo,\n    versiones_disponibles: JSON.stringify(m.versiones_disponibles),\n    versiones_completas: m.versiones_completas,\n    updated_at: m.updated_at,\n    spreadsheet_id: spreadsheetId,\n    sheet_name: sheetName\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        1968
      ],
      "id": "11ccfde8-084e-4902-9ccf-4ac223c4aaf3",
      "name": "Bucle 2 - Módulos por Repo"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        1776
      ],
      "id": "3e90fa05-914f-48be-af68-140a2cf14a22",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.modulo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        1968
      ],
      "id": "d6495822-9f4c-4bc1-83de-d66c775351ec",
      "name": "¿Tiene módulos?"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_name || 'oca_repo_mapping' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "modulo"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modulo",
              "displayName": "modulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "repo",
              "displayName": "repo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "versiones_disponibles",
              "displayName": "versiones_disponibles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "versiones_completas",
              "displayName": "versiones_completas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spreadsheet_id",
              "displayName": "spreadsheet_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sheet_name",
              "displayName": "sheet_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        2048
      ],
      "id": "c8bcbf76-9fd5-4314-b1f0-059a2b324b23",
      "name": "Insert rows in a table",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZsNZWqwbgGDbsEUC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1.5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        800,
        2048
      ],
      "id": "9adf5f6a-be7c-41f2-a36e-43ac34f52b04",
      "name": "Esperar 1.5s (rate limit)",
      "webhookId": "6809ceae-b25e-4ca4-b267-9a31c88c15da"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        144,
        1648
      ],
      "id": "dd269e9b-d392-4640-aa5b-49703e725c17",
      "name": "Merge credenciales"
    },
    {
      "parameters": {
        "jsCode": "// Reducir a 1 item para que Get Rows solo haga 1 lectura (evitar 429 quota)\nconst items = $input.all();\nconst withCreds = items.find(i => i.json?.spreadsheet_id) || items[0];\nconst creds = $('Credenciales (editar)').first().json;\nconst data = withCreds?.json || creds;\nreturn data?.spreadsheet_id ? [{ json: { spreadsheet_id: data.spreadsheet_id, sheet_name: data.sheet_name || 'oca_repo_mapping' } }] : [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        1648
      ],
      "id": "bd603568-f1b9-4222-8af5-74ffde44a498",
      "name": "Solo 1 item (evitar 429)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_name || 'oca_repo_mapping' }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        1648
      ],
      "id": "85ae9345-d0a7-4962-a5be-1de37e3e5922",
      "name": "Get Rows (oca_repo_mapping)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZsNZWqwbgGDbsEUC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtrar módulos con versiones_completas=false y limitar a 50\nconst items = $input.all();\nconst rows = items.map(i => i.json);\nconst pendientes = rows.filter(r => {\n  const vc = r.versiones_completas;\n  if (typeof vc === 'boolean') return !vc;\n  if (typeof vc === 'string') return vc.toLowerCase() !== 'true' && vc !== '1';\n  return true;\n})\n\nconst creds = $('Credenciales (editar)').first().json;\nreturn pendientes.map(p => ({\n  json: {\n    modulo: p.modulo,\n    repo: p.repo,\n    spreadsheet_id: creds.spreadsheet_id,\n    sheet_name: creds.sheet_name,\n    github_token: creds.github_token\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1648
      ],
      "id": "4e96a397-6ad0-461b-9dc2-669d7ea661be",
      "name": "Filtrar pendientes (max 50)"
    },
    {
      "parameters": {
        "jsCode": "// Añadir github_token a cada módulo para Bucle 4\nconst creds = $('Credenciales (editar)').first().json;\nconst token = (creds.github_token || '').trim();\nconst items = $input.all();\nreturn items.map(i => ({ json: { ...i.json, github_token: token } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1648
      ],
      "id": "0253b927-cce9-44d1-9b41-861e4e8e2441",
      "name": "Añadir credenciales"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1248,
        1648
      ],
      "id": "a73b9ac3-884b-46b4-8364-97afaae43e91",
      "name": "Loop Over Items 2"
    },
    {
      "parameters": {
        "jsCode": "// BUCLE 4: Para cada módulo, comprobar versiones 12.0-19.0 en GitHub\nconst items = $input.all();\nconst item = items[0]?.json || {};\nconst modulo = item.modulo;\nconst repo = item.repo;\nconst githubToken = (item.github_token || '').trim();\nconst spreadsheetId = (item.spreadsheet_id || '').trim();\nconst sheetName = (item.sheet_name || 'oca_repo_mapping').trim();\n\nconst VERSIONES = ['12.0','13.0','14.0','15.0','16.0','17.0','18.0','19.0'];\nconst ghHeaders = { 'Authorization': `Bearer ${githubToken}`, 'Accept': 'application/vnd.github.v3+json' };\n\nlet versiones = [];\nfor (const v of VERSIONES) {\n  try {\n    await this.helpers.httpRequest({\n      url: `https://api.github.com/repos/OCA/${repo}/contents/${modulo}?ref=${v}`,\n      headers: ghHeaders\n    });\n    versiones.push(v);\n  } catch (e) {}\n  await new Promise(r => setTimeout(r, 150));\n}\n\nreturn [{\n  json: {\n    modulo,\n    repo,\n    versiones_disponibles: JSON.stringify(versiones.sort()),\n    versiones_completas: true,\n    updated_at: new Date().toISOString(),\n    spreadsheet_id: spreadsheetId,\n    sheet_name: sheetName\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        1648
      ],
      "id": "70e11b59-4dc7-422c-9109-7a85293c7792",
      "name": "Bucle 4 - Versiones por Módulo"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.spreadsheet_id }}"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_name || 'oca_repo_mapping' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "modulo"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        1648
      ],
      "id": "b00d3f69-c97d-4813-81a4-a8c4681d7e0d",
      "name": "Update versiones",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZsNZWqwbgGDbsEUC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1.5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1904,
        1648
      ],
      "id": "833c5c1a-7231-44f2-ac78-533edf9488e4",
      "name": "Esperar 1.5s (rate limit) 2",
      "webhookId": "0050da45-aebc-47cc-a630-3e3e0aae99da"
    },
    {
      "parameters": {
        "content": "## Sincronización OCA (cada 15 días)",
        "height": 560,
        "width": 2900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        1616
      ],
      "typeVersion": 1,
      "id": "9010b5dc-e8f1-4b74-a895-7e8aea152582",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        1776
      ],
      "id": "291e80e7-65c1-44c1-9ba4-4dcb2dfc8040",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "csv1",
              "leftValue": "={{ $('Parsear Versiones').first().json.es_csv }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -48,
        976
      ],
      "id": "7886081a-5015-4186-b18d-cbcfa522905b",
      "name": "¿Es CSV?"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        784
      ],
      "id": "149b3c15-ff88-479f-bd75-7c5fe88ec6f3",
      "name": "Extraer CSV"
    },
    {
      "parameters": {
        "jsCode": "// Leer lista de módulos desde CSV enviado por Telegram.\n// Columna esperada: 'modulo' (también acepta module, nombre, name o 1ª columna).\n\nconst parsed = $('Parsear Versiones').first().json;\nconst version_origen = parsed.version_origen || '12.0';\nconst version_objetivo = parsed.version_objetivo || '17.0';\n\nconst MODULE_REGEX = /^[a-z0-9]+(_[a-z0-9]+)+$/;\nconst modulosSet = new Set();\n\nfor (const item of $input.all()) {\n  const row = item.json || {};\n  const candidatos = [\n    row.modulo,\n    row.module,\n    row.nombre,\n    row.name,\n    row.Modulo,\n    row.Module,\n  ];\n\n  const primeraCol = Object.values(row).find(v => typeof v === 'string' && v.trim());\n  if (primeraCol) candidatos.push(primeraCol);\n\n  for (const raw of candidatos) {\n    if (!raw) continue;\n    const nombre = String(raw).trim().toLowerCase().replace(/\\s+/g, '');\n    if (MODULE_REGEX.test(nombre)) modulosSet.add(nombre);\n  }\n}\n\nconst modulos_pre = Array.from(modulosSet)\n  .sort((a, b) => a.localeCompare(b))\n  .map((nombre, index) => ({ index, modulo: nombre, origen: 'desconocido' }));\n\nif (modulos_pre.length === 0) {\n  throw new Error('El CSV no tiene módulos válidos. Usa columna \"modulo\" con nombres técnicos en snake_case (ej: sale_order).');\n}\n\nreturn {\n  version_origen,\n  version_objetivo,\n  modulos_pre,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        784
      ],
      "id": "337e6392-d2eb-4d39-9464-fae8b2305eec",
      "name": "Parsear Modulos CSV"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-12T15:37:57.045Z",
      "createdAt": "2026-02-12T15:37:57.045Z",
      "role": "workflow:owner",
      "workflowId": "PAUOnb2bS06nbbMB",
      "projectId": "s4WYDaCaT1Iwz31l"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-17T10:47:27.240Z",
  "versionId": "cd9b298f-f17c-4d24-86d7-b51992059d0a"
}