z2zwrAepN37q0K10.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-11T10:39:23.373Z",
    "createdAt": "2026-05-11T10:39:21.323Z",
    "versionId": "248e7a44-add6-4294-9619-9cfdab11f7a1",
    "workflowId": "z2zwrAepN37q0K10",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -4864,
          1904
        ],
        "id": "0ce84353-4155-4cdd-ae00-81970f059759",
        "name": "Telegram Trigger",
        "webhookId": "10466960-1bb6-4e83-84f4-97818410efc4",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
          "text": "=✅ Entrada registrada.  \n\nCuando termines la visita, vuelve a enviarme tu ubicación para registrar la salida.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1184,
          1264
        ],
        "id": "6e3aa98f-a898-4023-9102-fcdd32127593",
        "name": "Entrada Registrada",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  base.chat_id,\n  t.user_id,\n  t.user_name,\n  t.estado,\n  t.ultimo_mensaje_bot,\n  t.datos_pendientes,\n  t.entrada_lat,\n  t.entrada_lon,\n  t.entrada_at,\n  t.salida_lat,\n  t.salida_lon,\n  t.salida_at,\n  t.lead_id,\n  t.lead_name,\n  t.created_at,\n  t.updated_at\nFROM (SELECT $1::bigint AS chat_id) base\nLEFT JOIN crm_visitas_bot t\n  ON t.chat_id = base.chat_id;",
          "options": {
            "queryReplacement": "={{ [$json.chat_id] }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2928,
          1936
        ],
        "id": "ebc2c6e1-c96f-432f-89dd-38df32cd9df9",
        "name": "Consultar Memoria Visita",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const entrada = $json;\nconst memoria = $json.memoria || {};\n\nconst estado = memoria.estado || null;\nconst tipo = entrada.tipo_mensaje;\nconst texto = String(entrada.mensaje_usuario || '').toLowerCase().trim();\n\nconst esCancelar = ['cancelar', 'cancela', 'anula', 'salir'].some(x => texto.includes(x));\n\nif (esCancelar) {\n  return { ...entrada, accion: 'cancelar' };\n}\n\nif (tipo === 'location') {\n  if (!estado || estado !== 'visita_abierta') {\n    return { ...entrada, accion: 'registrar_entrada' };\n  } else {\n    return { ...entrada, accion: 'registrar_salida' };\n  }\n}\n\nif (estado === 'esperando_lead' && tipo === 'text') {\n  return { ...entrada, accion: 'procesar_respuesta_lead' };\n}\n\nif (estado === 'esperando_crear_oportunidad' && (tipo === 'text' || tipo === 'voice')) {\n  return { ...entrada, accion: 'crear_oportunidad' };\n}\n\nif (estado === 'esperando_descripcion_visita' && (tipo === 'text' || tipo === 'voice')) {\n  return { ...entrada, accion: 'guardar_visita' };\n}\n\nreturn {\n  ...entrada,\n  accion: 'mensaje_ayuda',\n  respuesta_usuario: 'Envíame una ubicación para empezar una visita comercial.'\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2512,
          1936
        ],
        "id": "fe5ddc8a-6166-43bb-bfc4-f53e2dcddd26",
        "name": "Router Principal CRM"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "registrar_entrada",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "48445e91-6a6c-4c09-b3d6-81ac6c231aa6"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "registrar_entrada"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ea805b24-dacc-4db0-84c1-5c469b33ac58",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "registrar_salida",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "registrar_salida"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "1cf96c94-68c0-4dd0-88ff-bdcb32e62d19",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "procesar_respuesta_lead",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "procesar_respuesta_lead"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "1a84146f-5a6b-404b-80a0-91621b965248",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "crear_oportunidad",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "crear_oportunidad"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "aa7abee8-4d78-412f-a6f5-5dc21d229edc",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "guardar_visita",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "guardar_visita"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "80b9b6ff-34e7-44a2-a7c6-906065d31775",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "cancelar",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancelar"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "5a4840d0-3bcf-44cf-bec1-2d9b133263ae",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "mensaje_ayuda",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "mensaje_ayuda"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1840,
          1872
        ],
        "id": "0e6e378b-9029-43b0-bda5-7e0bffac8f18",
        "name": "Switch Acción"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO crm_visitas_bot (\n  chat_id, user_id, user_name, estado,\n  entrada_lat, entrada_lon, entrada_at,\n  ultimo_mensaje_bot, datos_pendientes, updated_at\n)\nVALUES (\n  $1, $2, $3, 'visita_abierta',\n  $4, $5, NOW(),\n  $6, $7::jsonb, NOW()\n)\nON CONFLICT (chat_id)\nDO UPDATE SET\n  user_id = EXCLUDED.user_id,\n  user_name = EXCLUDED.user_name,\n  estado = 'visita_abierta',\n  entrada_lat = EXCLUDED.entrada_lat,\n  entrada_lon = EXCLUDED.entrada_lon,\n  entrada_at = EXCLUDED.entrada_at,\n  ultimo_mensaje_bot = EXCLUDED.ultimo_mensaje_bot,\n  datos_pendientes = EXCLUDED.datos_pendientes,\n  updated_at = NOW()\nRETURNING chat_id, user_id, user_name, estado;",
          "options": {
            "queryReplacement": "={{\n[\n  $json.chat_id,\n  $json.user_id,\n  $json.user_name,\n  $json.latitude,\n  $json.longitude,\n  '✅ Entrada registrada. Cuando termines la visita, vuelve a enviarme tu ubicación para registrar la salida.',\n  JSON.stringify({ fase: 'entrada_registrada' })\n]\n}}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1408,
          1264
        ],
        "id": "177cc98a-2917-41d8-826f-f1f904cba885",
        "name": "Guardar Entrada",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE crm_visitas_bot\nSET\n  estado = 'esperando_lead',\n  salida_lat = $2,\n  salida_lon = $3,\n  salida_at = NOW(),\n  ultimo_mensaje_bot = $4,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, estado;",
          "options": {
            "queryReplacement": "={{\n[\n  $json.chat_id,\n  $json.latitude,\n  $json.longitude,\n  '¿A qué lead u oportunidad has ido a visitar?'\n]\n}}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1408,
          1504
        ],
        "id": "36923f46-fa91-406f-9fb7-d003c940c245",
        "name": "Guardar Salida",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $('Unificar Contexto Odoo').first().json.odoo.db,\n      $('Unificar Contexto Odoo').first().json.odoo.uid,\n      $('Unificar Contexto Odoo').first().json.odoo.password,\n      \"crm.lead\",\n      \"search_read\",\n      [\n        [\n          [\"type\", \"=\", \"opportunity\"],\n          [\"probability\", \"<\", 100],\n          [\"active\", \"=\", true],\n          [\"user_id\", \"=\", $('Unificar Contexto Odoo').first().json.odoo.uid]\n        ]\n      ],\n      {\n        fields: [\"id\", \"name\", \"partner_name\", \"contact_name\", \"stage_id\"],\n        limit: 20,\n        order: \"write_date desc\"\n      }\n    ]\n  }\n}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1184,
          1504
        ],
        "id": "c44f49c6-6d88-49ab-805a-700be9d49af4",
        "name": "Consultar Oportunidades Abiertas Odoo"
      },
      {
        "parameters": {
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"authenticate\",\n    \"args\": [\n      \"lsanchezgoshawk-crm-main-31347967\",\n      \"admin\",\n      \"admin\",\n      {}\n    ]\n  },\n  \"id\": 1\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2256,
          1936
        ],
        "id": "06e3d624-d2fb-4d99-ab0a-1fe356f4264c",
        "name": "Autenticar Odoo"
      },
      {
        "parameters": {
          "jsCode": "const actual = $('Unificar Contexto Odoo').first().json;\nconst oportunidades = $json.result || [];\n\nconst textoLista = oportunidades.length\n  ? oportunidades.map((o, i) => `${i + 1}. ${o.name}`).join('\\n')\n  : 'No tienes oportunidades abiertas asignadas a tu usuario en Odoo.';\n\nreturn {\n  ...actual,\n  oportunidades,\n  textoLista,\n  mensaje_bot:\n`✅ Salida registrada.\n\n¿A qué lead u oportunidad has ido a visitar?\n\n${textoLista}\n\nResponde con el número, escribe \"crear oportunidad\" o \"cancelar\".`\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -976,
          1504
        ],
        "id": "55f540f9-f663-4ba0-9d1e-95504b728159",
        "name": "Preparar Lista Oportunidades"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE crm_visitas_bot\nSET\n  estado = 'esperando_lead',\n  ultimo_mensaje_bot = $2,\n  datos_pendientes = $3::jsonb,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, estado;",
          "options": {
            "queryReplacement": "={{\n[\n  $json.chat_id,\n  $json.mensaje_bot,\n  JSON.stringify({\n    oportunidades: $json.oportunidades\n  })\n]\n}}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -768,
          1504
        ],
        "id": "c6e77d12-8c7b-4164-9f45-0d63c0c7e7d2",
        "name": "Guardar Memoria Oportunidades",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Preparar Lista Oportunidades').first().json.telegram_chat_id || $('Preparar Lista Oportunidades').first().json.chat_id }}",
          "text": "={{ $('Preparar Lista Oportunidades').first().json.mensaje_bot }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -576,
          1504
        ],
        "id": "876b7b6e-36bf-4547-9d0c-f1bd7c357659",
        "name": "Enviar Lista Leads",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const memoria = $json.memoria || {};\nconst pendientes = memoria.datos_pendientes || {};\nconst opciones = pendientes.oportunidades || [];\nconst texto = String($json.mensaje_usuario || '').trim().toLowerCase();\n\nif (['cancelar', 'cancela', 'anular'].includes(texto)) {\n  return { ...$json, resultado: 'cancelar' };\n}\n\nif (texto.includes('crear oportunidad')) {\n  return { ...$json, resultado: 'crear_oportunidad' };\n}\n\nconst n = parseInt(texto, 10);\nif (Number.isFinite(n) && n >= 1 && n <= opciones.length) {\n  return {\n    ...$json,\n    resultado: 'lead_elegido',\n    lead_id: opciones[n - 1].id,\n    lead_name: opciones[n - 1].name\n  };\n}\n\nconst match = opciones.find(o =>\n  String(o.name || '').toLowerCase().includes(texto)\n);\n\nif (match) {\n  return {\n    ...$json,\n    resultado: 'lead_elegido',\n    lead_id: match.id,\n    lead_name: match.name\n  };\n}\n\nreturn {\n  ...$json,\n  resultado: 'no_entendido'\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1408,
          1792
        ],
        "id": "b7bb1c17-3026-41e9-a4da-88644de18b60",
        "name": "Resolver Lead Elegido"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.resultado }}",
                      "rightValue": "lead_elegido",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "4ac3b34d-0aea-43ea-a90b-c638b3e71a77"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "lead_elegido"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "5c59cfd6-f7ce-44e5-8803-9280bcfbc403",
                      "leftValue": "={{ $json.resultado }}",
                      "rightValue": "crear_oportunidad",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "crear_oportunidad"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "1ed2f583-e031-471b-83bf-21b9944950d0",
                      "leftValue": "={{ $json.resultado }}",
                      "rightValue": "cancelar",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancelar"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b04cebeb-4856-45b8-81dd-58995f7afe3e",
                      "leftValue": "={{ $json.resultado }}",
                      "rightValue": "no_entendido",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "no_entendido"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1216,
          1760
        ],
        "id": "b7a1fa6e-77ed-4cf9-b5df-e452af8261cf",
        "name": "Switch Resultado Lead"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE crm_visitas_bot\nSET\n  lead_id = $2,\n  lead_name = $3,\n  estado = 'esperando_descripcion_visita',\n  ultimo_mensaje_bot = $4,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, lead_id, lead_name, estado;",
          "options": {
            "queryReplacement": "={{\n[\n  $json.chat_id,\n  $json.lead_id,\n  $json.lead_name,\n  `Perfecto. ¿Qué has ido a hacer en la visita a \"${$json.lead_name}\"? Puedes escribirlo o enviarlo por audio.`\n]\n}}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -928,
          1744
        ],
        "id": "b8988749-9013-4020-a5a3-10afd7abb15c",
        "name": "Guardar Lead Elegido",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
          "text": "={{ `Perfecto. ¿Qué has ido a hacer en la visita a \"${$json.lead_name}\"?\\n\\nPuedes escribirlo o enviarlo por audio.` }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -720,
          1744
        ],
        "id": "0d852da5-acc3-48e9-9fe8-ac82f0715ab6",
        "name": "Preguntar Descripción Visita",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE crm_visitas_bot\nSET\n  estado = 'esperando_crear_oportunidad',\n  ultimo_mensaje_bot = $2,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, estado;",
          "options": {
            "queryReplacement": "={{\n[\n  $json.chat_id,\n  'Perfecto. Envíame los datos por texto o audio. Usa etiquetas si puedes: Contacto, Empresa, Dirección, Cliente. Buscamos el contacto en Odoo; si no existe como empresa, el nombre queda en Nombre del contacto y el resto en los campos de texto del lead.'\n]\n}}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -928,
          1952
        ],
        "id": "c76082b7-a37b-40e5-99d1-f7f64bdd6ab1",
        "name": "Guardar Estado Crear Oportunidad",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
          "text": "=Perfecto. Envíame los datos por texto o audio.\n\nEjemplos: *Contacto: …*, *Empresa: …*, *Dirección: …*, *Cliente: …* (opcional).\nBuscamos la empresa en Odoo; si no hay coincidencia, el nombre va en **Nombre del contacto** y la empresa en el campo de texto del lead.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -720,
          1952
        ],
        "id": "82ca24de-4bf7-47dc-a565-d9fa3c95a7f5",
        "name": "Pedir Datos Nueva Oportunidad",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a69f9611-da2e-4b5e-bc4d-db867b9bc4f7",
                "leftValue": "={{ $json.tipo_mensaje }}",
                "rightValue": "voice",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -4464,
          1904
        ],
        "id": "b120ec97-6cdd-4db8-9de2-b2bca396ff01",
        "name": "¿Es Audio?"
      },
      {
        "parameters": {
          "jsCode": "// Combinar datos de transcripción para que lleguen correctamente al AI Agent\nconst datosTranscripcion = $('Procesar Transcripción').item.json;\nconst datosOriginales = $('Detectar Tipo Inicial').first().json;\n\nconsole.log('🔄 Combinando datos para AI Agent:');\nconsole.log('📄 Datos originales:', JSON.stringify(datosOriginales, null, 2));\nconsole.log('🎤 Datos transcripción:', JSON.stringify(datosTranscripcion, null, 2));\n\nconst plataforma = String(\n  datosTranscripcion.plataforma ||\n  datosOriginales.plataforma ||\n  'telegram'\n).toLowerCase().trim();\n\nconst canalEnvio = plataforma;\n\nconst chatId = datosTranscripcion.chat_id ?? datosOriginales.chat_id ?? null;\nconst userId = datosTranscripcion.user_id ?? datosOriginales.user_id ?? null;\nconst userName = datosTranscripcion.user_name ?? datosOriginales.user_name ?? 'Usuario';\nconst timestamp = datosTranscripcion.timestamp ?? datosOriginales.timestamp ?? new Date().toISOString();\n\nconst rawTelegramChatId =\n  datosTranscripcion.telegram_chat_id ??\n  datosOriginales.telegram_chat_id ??\n  (plataforma === 'telegram' ? chatId : null);\n\nconst rawWhatsappPhone =\n  datosTranscripcion.whatsapp_phone ??\n  datosOriginales.whatsapp_phone ??\n  (plataforma === 'whatsapp' ? chatId : null);\n\nconst telegramChatId =\n  plataforma === 'telegram' &&\n  rawTelegramChatId != null &&\n  String(rawTelegramChatId).trim() !== ''\n    ? Number(rawTelegramChatId)\n    : null;\n\nconst whatsappPhone =\n  plataforma === 'whatsapp' &&\n  rawWhatsappPhone != null &&\n  String(rawWhatsappPhone).trim() !== ''\n    ? String(rawWhatsappPhone).replace(/\\D/g, '').trim()\n    : null;\n\nconst datosFinales = {\n  ...datosOriginales,\n  ...datosTranscripcion,\n\n  chat_id: chatId,\n  user_id: userId,\n  user_name: userName,\n  timestamp,\n\n  plataforma,\n  canal_respuesta: canalEnvio,\n  canal_envio: canalEnvio,\n  telegram_chat_id: telegramChatId,\n  whatsapp_phone: whatsappPhone,\n\n  es_audio: true,\n  audio_transcrito: true,\n  file_id: datosTranscripcion.file_id || datosOriginales.file_id\n};\n\nconsole.log('✅ Datos finales para AI Agent:', JSON.stringify(datosFinales, null, 2));\nconsole.log('💬 Mensaje que recibirá AI Agent:', datosFinales.mensaje_usuario);\n\nreturn datosFinales;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3152,
          1792
        ],
        "id": "52e4528d-a8d0-4083-9440-eeb23e0f8d8b",
        "name": "Actualizar Datos Transcripción"
      },
      {
        "parameters": {
          "jsCode": "// Procesar transcripción de AssemblyAI y combinar con datos originales\nconst datosOriginales = $('Detectar Tipo Inicial').first().json;\n\nconsole.log('📄 Respuesta completa de AssemblyAI:', JSON.stringify($json, null, 2));\n\n// Canal/plataforma\nconst plataforma = String(datosOriginales.plataforma || 'telegram').toLowerCase().trim();\nconst canalEnvio = plataforma;\n\n// IDs por canal\nconst rawChatId = datosOriginales.chat_id ?? null;\nconst rawTelegramChatId = datosOriginales.telegram_chat_id ?? rawChatId;\nconst rawWhatsappPhone = datosOriginales.whatsapp_phone ?? rawChatId;\n\nconst telegramChatId =\n  plataforma === 'telegram' &&\n  rawTelegramChatId != null &&\n  String(rawTelegramChatId).trim() !== ''\n    ? Number(rawTelegramChatId)\n    : null;\n\nconst whatsappPhone =\n  plataforma === 'whatsapp' &&\n  rawWhatsappPhone != null &&\n  String(rawWhatsappPhone).trim() !== ''\n    ? String(rawWhatsappPhone).replace(/\\D/g, '').trim()\n    : null;\n\n// AssemblyAI devuelve la transcripción en el campo 'text'\nlet transcripcion = '';\n\nif ($json.status === 'completed' && $json.text) {\n  transcripcion = $json.text;\n} else if ($json.status === 'error') {\n  transcripcion = '[Error en transcripción: ' + ($json.error || 'Error desconocido') + ']';\n  console.error('❌ Error en AssemblyAI:', $json.error);\n} else if ($json.status === 'processing') {\n  transcripcion = '[Transcripción aún en proceso, espera un momento más]';\n  console.log('⏳ AssemblyAI aún está procesando');\n} else if ($json.status === 'queued') {\n  transcripcion = '[Transcripción en cola, espera un momento]';\n  console.log('⏳ AssemblyAI en cola');\n} else {\n  transcripcion = $json.text || $json.transcript || '[Error: no se pudo obtener transcripción]';\n}\n\ntranscripcion = String(transcripcion).trim();\n\nif (!transcripcion || transcripcion === '' || transcripcion === 'undefined') {\n  transcripcion = '[Error: transcripción vacía]';\n  console.error('❌ Error: No se pudo obtener transcripción válida');\n  console.error('📄 Estado:', $json.status);\n  console.error('📄 Datos recibidos:', JSON.stringify($json, null, 2));\n}\n\nconsole.log('🎤 Transcripción obtenida de AssemblyAI (ES):', transcripcion);\nconsole.log('📊 Estado AssemblyAI:', $json.status);\nconsole.log('🌍 Idioma detectado:', $json.language_code);\nconsole.log('🎯 Confianza:', $json.confidence);\n\n// Versión normalizada\nconst transcripcionNormalizada = transcripcion\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/´/g, '')\n  .toLowerCase();\n\nconsole.log('🎤 Transcripción normalizada (sin tildes):', transcripcionNormalizada);\n\nreturn {\n  ...datosOriginales,\n\n  // canal\n  plataforma,\n  canal_respuesta: canalEnvio,\n  canal_envio: canalEnvio,\n  telegram_chat_id: telegramChatId,\n  whatsapp_phone: whatsappPhone,\n\n  // mensaje\n  mensaje_usuario: transcripcionNormalizada,\n  transcripcion_original: transcripcion,\n  mensaje_usuario_original: transcripcion,\n\n  es_audio: true,\n  audio_transcrito: true,\n  assemblyai_response: $json,\n  transcriptor: 'assemblyai',\n  estado_transcripcion: $json.status,\n  confidence: $json.confidence,\n  audio_duration: $json.audio_duration\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3584,
          1792
        ],
        "id": "ed651488-ba44-4316-a00c-f9fe49798ed1",
        "name": "Procesar Transcripción"
      },
      {
        "parameters": {
          "jsCode": "const datosArchivo = $json;\nconst datosOriginales = $('Detectar Tipo Inicial').first().json;\n\nconst plataforma = String(datosOriginales.plataforma || 'telegram').toLowerCase().trim();\n\nlet fileId = datosOriginales.file_id || null;\nlet filePath = null;\nlet mediaUrl = null;\nlet mimeType = null;\n\nif (plataforma === 'telegram') {\n  if (datosArchivo.file_path) {\n    filePath = datosArchivo.file_path;\n  } else if (datosArchivo.result?.file_path) {\n    filePath = datosArchivo.result.file_path;\n  } else if (datosArchivo.body?.result?.file_path) {\n    filePath = datosArchivo.body.result.file_path;\n  }\n\n  if (!fileId) {\n    throw new Error('No se obtuvo file_id de Telegram');\n  }\n\n  return {\n    ...datosOriginales,\n    ...datosArchivo,\n    plataforma,\n    canal_envio: 'telegram',\n    file_id: fileId,\n    file_path: filePath,\n    media_url: null,\n    mime_type: datosArchivo.mime_type || null,\n    voice_file_ready: true,\n    processing_method: 'telegram_get_file',\n    download_info: {\n      file_id: fileId,\n      file_path: filePath,\n      method: 'telegram_get_file',\n    },\n  };\n}\n\nif (plataforma === 'whatsapp') {\n  fileId = datosArchivo.id || datosOriginales.file_id || null;\n  mediaUrl = datosArchivo.url || datosArchivo.body?.url || null;\n  mimeType = datosArchivo.mime_type || datosArchivo.body?.mime_type || null;\n\n  if (!mediaUrl) {\n    throw new Error('No se obtuvo media_url de WhatsApp');\n  }\n\n  return {\n    ...datosOriginales,\n    ...datosArchivo,\n    plataforma,\n    canal_envio: 'whatsapp',\n    file_id: fileId,\n    file_path: null,\n    media_url: mediaUrl,\n    mime_type: mimeType,\n    voice_file_ready: true,\n    processing_method: 'whatsapp_media_url',\n    download_info: {\n      file_id: fileId,\n      file_path: null,\n      media_url: mediaUrl,\n      method: 'whatsapp_media_download',\n    },\n  };\n}\n\nthrow new Error(`Plataforma no soportada: ${plataforma}`);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4208,
          1792
        ],
        "id": "c0653a2d-1fb2-4870-8ed6-f44707a04e1a",
        "name": "Preparar Descarga"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {
            "language": "es",
            "temperature": 0.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -3760,
          1792
        ],
        "id": "e1d59a34-3505-41ce-8e55-3bb91f459a96",
        "name": "Transcribe a recording",
        "credentials": {
          "openAiApi": {
            "id": "DAJxp34XPnMfaoV9",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
          "text": "=🎤 **Audio transcrito exitosamente:**\n\n\"{{ $('Procesar Transcripción').item.json.transcripcion_original}}\"\n\n✅ Procesando tu solicitud...",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -3360,
          1792
        ],
        "id": "4479dcc8-768b-481a-9491-33edfe30f658",
        "name": "Confirmar Transcripción T",
        "webhookId": "237a0319-b9b0-4c5f-8561-1aef1c7c9116",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -3968,
          1792
        ],
        "id": "9e5a4d02-4494-49ac-b6fd-d2d57b3b509a",
        "name": "Descargar Audio T",
        "webhookId": "1f9d320a-2e58-48ab-bf94-f02ee44a09d2",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const msg = $json.message || {};\n\nlet tipo_mensaje = 'unknown';\nif (msg.location) tipo_mensaje = 'location';\nelse if (msg.voice) tipo_mensaje = 'voice';\nelse if (msg.text) tipo_mensaje = 'text';\n\nreturn {\n  raw_message: msg,\n  chat_id: msg.chat?.id || null,\n  telegram_chat_id: msg.chat?.id || null,\n  user_id: msg.from?.id || null,\n  user_name: [msg.from?.first_name, msg.from?.last_name].filter(Boolean).join(' ').trim(),\n  tipo_mensaje,\n  mensaje_usuario: msg.text || '',\n  mensaje_usuario_original: msg.text || '',\n  latitude: msg.location?.latitude || null,\n  longitude: msg.location?.longitude || null,\n  file_id: msg.voice?.file_id || null,\n  fecha_hora: new Date().toISOString(),\n  plataforma: 'telegram',\n  es_audio: tipo_mensaje === 'voice'\n};"
        },
        "id": "bcf51175-bf16-4de9-bd05-57c203d6f3b0",
        "name": "Detectar Tipo Inicial",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4672,
          1904
        ]
      },
      {
        "parameters": {
          "jsCode": "const textoOriginal = String($json.mensaje_usuario_original || $json.mensaje_usuario || '').trim();\n\nconst textoNormalizado = textoOriginal\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase()\n  .trim();\n\nreturn {\n  ...$json,\n  mensaje_usuario: textoNormalizado,\n  mensaje_usuario_original: textoOriginal,\n  es_audio: false\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4224,
          2048
        ],
        "id": "5e24c27c-cd32-489a-8940-09e0a49aaac5",
        "name": "Normalizar Mensaje Directo"
      },
      {
        "parameters": {
          "jsCode": "const actual = $('Router Principal CRM').first().json;\nconst auth = $('Autenticar Odoo').first().json;\n\nconst uid = auth.result;\n\nif (!uid) {\n  throw new Error('No se obtuvo uid de Odoo en la autenticación');\n}\n\nreturn {\n  ...actual,\n  odoo: {\n    url: 'https://lsanchezgoshawk-crm.odoo.com/jsonrpc',\n    db: 'lsanchezgoshawk-crm-main-31347967',\n    username: 'admin',\n    password: 'admin',\n    uid\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2048,
          1936
        ],
        "id": "43bea9d6-869d-4c2c-b17e-701c1b5c11a4",
        "name": "Unificar Contexto Odoo"
      },
      {
        "parameters": {
          "jsCode": "const texto = String($json.mensaje_usuario_original || $json.mensaje_usuario || '').trim();\n\nfunction trimVal(s) {\n  return String(s || '').replace(/^[\\s:\\-–—]+|[\\s:\\-–—]+$/g, '').trim();\n}\n\nfunction matchLabel(segment, regex) {\n  const m = segment.match(regex);\n  return m ? trimVal(m[1]) : '';\n}\n\nlet nombreCliente = '';\nlet contacto = '';\nlet empresa = '';\nlet street = '';\n\nconst segmentos = texto\n  .split(/[,;\\n]+/)\n  .map((s) => s.trim())\n  .filter(Boolean);\n\nfor (const p of segmentos) {\n  let v = matchLabel(p, /^(?:nombre\\s+del\\s+)?cliente\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    nombreCliente = v;\n    continue;\n  }\n  v = matchLabel(p, /^el\\s+cliente\\s+(?:es|llama)\\s+(.+)$/i);\n  if (v) {\n    nombreCliente = v;\n    continue;\n  }\n  v = matchLabel(p, /^contacto(?:\\s+principal)?\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    contacto = v;\n    continue;\n  }\n  v = matchLabel(p, /^persona\\s+de\\s+contacto\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    contacto = v;\n    continue;\n  }\n  v = matchLabel(p, /^empresa\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    empresa = v;\n    continue;\n  }\n  v = matchLabel(p, /^(?:compa[ñn]ia|compañía|raz[oó]n\\s+social)\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    empresa = v;\n    continue;\n  }\n  v = matchLabel(p, /^(?:calle|direcci[oó]n|domicilio|street)\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    street = v;\n    continue;\n  }\n}\n\nif (!nombreCliente) {\n  const mFull = texto.match(\n    /(?:^|[\\s,;])(?:nombre\\s+del\\s+)?cliente\\s*[:\\-–—]\\s*([^\\n,;]+?)(?=[\\n,;]|$)/i\n  );\n  if (mFull) nombreCliente = trimVal(mFull[1]);\n}\nif (!contacto) {\n  const m = texto.match(/(?:^|[\\s,;])contacto\\s*[:\\-–—]\\s*([^\\n,;]+?)(?=[\\n,;]|$)/i);\n  if (m) contacto = trimVal(m[1]);\n}\nif (!empresa) {\n  const m = texto.match(/(?:^|[\\s,;])empresa\\s*[:\\-–—]\\s*([^\\n,;]+?)(?=[\\n,;]|$)/i);\n  if (m) empresa = trimVal(m[1]);\n}\nif (!street) {\n  const m = texto.match(\n    /(?:^|[\\s,;])(?:calle|direcci[oó]n|domicilio)\\s*[:\\-–—]\\s*([^\\n,;]+?)(?=[\\n,;]|$)/i\n  );\n  if (m) street = trimVal(m[1]);\n}\n\nif (!nombreCliente && segmentos.length > 0) {\n  const primero = segmentos[0];\n  const low = primero.toLowerCase();\n  const esEtiqueta =\n    /^(?:cliente|contacto|empresa|calle|direcci|domicilio|necesidad|presupuesto|urgencia|nombre\\s+del)/i.test(\n      low\n    );\n  if (!esEtiqueta && primero.length <= 120) {\n    nombreCliente = trimVal(primero);\n  }\n}\n\nnombreCliente = trimVal(nombreCliente);\ncontacto = trimVal(contacto);\nempresa = trimVal(empresa);\nstreet = trimVal(street);\n\nif (\n  contacto &&\n  nombreCliente &&\n  contacto.toLowerCase() === nombreCliente.toLowerCase()\n) {\n  contacto = '';\n}\n\nconst tituloNombre =\n  nombreCliente || contacto || empresa || 'Telegram';\n\nconst tieneAlgunaPista =\n  Boolean(nombreCliente) ||\n  Boolean(contacto) ||\n  Boolean(empresa) ||\n  Boolean(street) ||\n  texto.replace(/\\s+/g, ' ').length > 6;\n\nconst puede_crear_oportunidad = tieneAlgunaPista;\n\nif (!puede_crear_oportunidad) {\n  return {\n    ...$json,\n    puede_crear_oportunidad: false,\n    opportunity_payload: null,\n    partner_busqueda: null,\n    mensaje_falta_cliente:\n      'No he podido extraer datos. Escribe al menos **contacto**, **empresa**, **cliente**, **dirección** o un resumen concreto (por ejemplo: *Contacto: …, Empresa: …*).'\n  };\n}\n\nconst partner_busqueda =\n  (empresa || nombreCliente || contacto || '').trim() || null;\n\nconst opportunity_payload = {\n  name: `Oportunidad ${tituloNombre}`,\n  type: 'opportunity',\n  description: texto\n};\n\nif (empresa) opportunity_payload.partner_name = empresa;\nif (street) opportunity_payload.street = street;\nif (contacto) opportunity_payload.contact_name = contacto;\nelse if (nombreCliente) opportunity_payload.contact_name = nombreCliente;\n\nreturn {\n  ...$json,\n  puede_crear_oportunidad: true,\n  partner_busqueda,\n  opportunity_payload,\n  opportunity_datos_parseados: {\n    nombre_cliente: nombreCliente || undefined,\n    contact_name: contacto || undefined,\n    partner_name: empresa || undefined,\n    street: street || undefined\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1328,
          2608
        ],
        "id": "84c6c7a0-4694-43b3-9779-8661a86f0f6d",
        "name": "Preparar Payload Nueva Oportunidad"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c7e8f901-2a3b-4c5d-8e9f-0a1b2c3d4e5f",
                "leftValue": "={{ String($json.puede_crear_oportunidad) }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1216,
          2608
        ],
        "id": "6c0e26bf-a637-4dea-bb59-6b30dcf15ef8",
        "name": "IF Nombre Cliente Oportunidad"
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
          "text": "={{ $json.mensaje_falta_cliente }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1216,
          2800
        ],
        "id": "6190ddca-6a53-4804-99b9-bc89c7f51096",
        "name": "Aviso Falta Nombre Cliente",
        "webhookId": "7c8d9e0f-1a2b-4c5d-8e9f-0a1b2c3d4e5f",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => {\n  const prep = $('Preparar Payload Nueva Oportunidad').first().json;\n  const t = String(prep.partner_busqueda || '').trim();\n  const domain = t ? ['|', ['name', '=', t], ['name', 'ilike', t]] : [['id', '=', 0]];\n  return JSON.stringify({\n    jsonrpc: '2.0',\n    method: 'call',\n    params: {\n      service: 'object',\n      method: 'execute_kw',\n      args: [\n        prep.odoo.db,\n        prep.odoo.uid,\n        prep.odoo.password,\n        'res.partner',\n        'search_read',\n        [domain],\n        { fields: ['id', 'name'], limit: 5 }\n      ]\n    }\n  });\n})() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1168,
          2608
        ],
        "id": "85c8a7e3-60c9-4da6-bbb5-bd8ade07476d",
        "name": "Buscar Partner Odoo"
      },
      {
        "parameters": {
          "jsCode": "const prep = $('Preparar Payload Nueva Oportunidad').first().json;\nconst raw = $json;\n\nlet partners = [];\nif (raw && Array.isArray(raw.result)) {\n  partners = raw.result;\n}\n\nconst d = prep.opportunity_datos_parseados || {};\nconst nombreCliente = String(d.nombre_cliente || '').trim();\nconst contacto = String(d.contact_name || '').trim();\nconst empresa = String(d.partner_name || '').trim();\nconst street = String(d.street || '').trim();\n\n// Buscar el \"cliente\" en res.partner si el usuario lo ha indicado.\n// Si no viene, caemos al valor previo calculado en el paso de preparación.\nconst partner_busqueda = String(nombreCliente || prep.partner_busqueda || '').trim();\nlet partner_id = null;\n\nconst payload = { ...(prep.opportunity_payload || {}) };\n\nfunction norm(s) {\n  return String(s || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\n// Resolver partner_id: si hay varios resultados, usar coincidencia exacta por nombre.\nif (partner_busqueda) {\n  const target = norm(partner_busqueda);\n  const exact = partners.find((p) => norm(p && p.name) === target);\n  if (exact && exact.id) {\n    partner_id = exact.id;\n  } else if (partners.length === 1) {\n    partner_id = partners[0].id;\n  }\n}\n\nif (partner_id) {\n  payload.partner_id = partner_id;\n  if (contacto) payload.contact_name = contacto;\n  else if (nombreCliente) payload.contact_name = nombreCliente;\n  else if (partner_busqueda) payload.contact_name = partner_busqueda;\n  if (empresa) payload.partner_name = empresa;\n  if (street) payload.street = street;\n} else {\n  if (empresa) payload.partner_name = empresa;\n  if (street) payload.street = street;\n\n  // Si no encontramos el cliente en res.partner, el nombre debe ir a \"Nombre del contacto\".\n  // Evitamos que la empresa acabe como fallback en contact_name.\n  const busquedaSirveComoContacto =\n    partner_busqueda && norm(partner_busqueda) !== norm(empresa);\n\n  const cn =\n    contacto ||\n    nombreCliente ||\n    (busquedaSirveComoContacto ? partner_busqueda : '') ||\n    '';\n\n  if (cn) payload.contact_name = cn;\n}\n\nreturn {\n  ...prep,\n  odoo: prep.odoo,\n  opportunity_payload: payload,\n  res_partner_candidatos: partners,\n  partner_id_resuelto: partner_id\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1040,
          2608
        ],
        "id": "9f678c2c-5fc6-4c69-890e-d76ab9ce935c",
        "name": "Fusionar Partner Oportunidad"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n{\n  jsonrpc: '2.0',\n  method: 'call',\n  params: {\n    service: 'object',\n    method: 'execute_kw',\n    args: [\n      $json.odoo.db,\n      $json.odoo.uid,\n      $json.odoo.password,\n      'crm.lead',\n      'create',\n      [\n        $json.opportunity_payload\n      ]\n    ]\n  }\n}\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -928,
          2608
        ],
        "id": "a2603f6e-d65f-4413-9e6e-eb333348101f",
        "name": "Crear Oportunidad Odoo"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $('Unificar Contexto Odoo').first().json.odoo.db,\n      $('Unificar Contexto Odoo').first().json.odoo.uid,\n      $('Unificar Contexto Odoo').first().json.odoo.password,\n      \"crm.lead\",\n      \"read\",\n      [\n        [ $('Crear Oportunidad Odoo').first().json.result ]\n      ],\n      {\n        fields: [\"id\", \"name\", \"description\"]\n      }\n    ]\n  }\n}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -928,
          2608
        ],
        "id": "4c6c498b-2d11-4a77-88ae-a5c64fa2a1d2",
        "name": "Leer Lead Creado"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE crm_visitas_bot\nSET\n  lead_id = $2,\n  lead_name = $3,\n  estado = 'esperando_descripcion_visita',\n  ultimo_mensaje_bot = $4,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, lead_id, lead_name, estado;",
          "options": {
            "queryReplacement": "={{\n[\n  $('Unificar Contexto Odoo').first().json.chat_id,\n  $json.result?.[0]?.id || $('Crear Oportunidad Odoo').first().json.result,\n  $json.result?.[0]?.name || $('Fusionar Partner Oportunidad').first().json?.opportunity_payload?.name || 'Oportunidad',\n  'Ahora cuéntame qué has ido a hacer en la visita. Puedes escribirlo o enviarlo por audio.'\n]\n}}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -736,
          2608
        ],
        "id": "be06c283-3d28-46e9-8ad9-4a24c14c82ce",
        "name": "Guardar Lead Creado",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Unificar Contexto Odoo').first().json.chat_id }}",
          "text": "=✅ Oportunidad creada correctamente.\n\nAhora cuéntame qué has ido a hacer en la visita. Puedes escribirlo o enviarlo por audio.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -560,
          2608
        ],
        "id": "2f1712db-b402-43d5-aeca-7b57d0df918a",
        "name": "Preguntar Qué Ha Ido a Hacer",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const memoria = $json.memoria || {};\n\nconst resumenUsuario = String(\n  $json.mensaje_usuario_original || $json.mensaje_usuario || ''\n).trim();\n\nconst fechaBonita = new Date().toLocaleString('es-ES', {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// 1) Texto para el chatter: dejarlo completo con ubicaciones y fechas\nconst note_body = `\nVisita comercial registrada desde Telegram\n\nFecha registro: ${fechaBonita}\nEntrada: ${memoria.entrada_at || '-'}\nSalida: ${memoria.salida_at || '-'}\nUbicación entrada: ${memoria.entrada_lat || '-'}, ${memoria.entrada_lon || '-'}\nUbicación salida: ${memoria.salida_lat || '-'}, ${memoria.salida_lon || '-'}\n\nResumen de la visita:\n${resumenUsuario}\n`.trim();\n\n// 2) Texto para Notas internas: histórico sencillo por fecha\nconst internal_note_entry = `\n[${fechaBonita}]\n${resumenUsuario}\n`.trim();\n\nreturn {\n  ...$json,\n  note_body,\n  internal_note_entry,\n  fecha_bonita: fechaBonita\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1328,
          2896
        ],
        "id": "bc29be22-9ac0-47a0-aceb-0258635195c4",
        "name": "Construir Nota Visita"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $json.odoo.db,\n      $json.odoo.uid,\n      $json.odoo.password,\n      \"crm.lead\",\n      \"message_post\",\n      [\n        [$json.memoria.lead_id]\n      ],\n      {\n        body: $json.note_body\n      }\n    ]\n  }\n}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1152,
          2896
        ],
        "id": "5a263053-52f2-40eb-b388-780a8f75b393",
        "name": "Guardar Nota en Lead Odoo"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE crm_visitas_bot\nSET\n  estado = NULL,\n  ultimo_mensaje_bot = NULL,\n  datos_pendientes = NULL,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id;",
          "options": {
            "queryReplacement": "={{ [$('Validar Crear Visita Odoo').first().json.chat_id] }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -272,
          2896
        ],
        "id": "a58f8c7a-f2ae-4ca2-906e-20b6cc05f645",
        "name": "Cerrar Visita",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Construir Nota Visita').first().json.telegram_chat_id || $('Construir Nota Visita').first().json.chat_id }}",
          "text": "={{ `✅ Visita registrada correctamente.\\n\\n🏢 Oportunidad: ${$('Construir Nota Visita').first().json.memoria?.lead_name || 'Sin nombre'}\\n📝 Resumen añadido al CRM de Odoo.` }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -192,
          2896
        ],
        "id": "8fc88785-ecf6-4ae8-b2dc-994ec846e21d",
        "name": "Confirmación Final",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE crm_visitas_bot\nSET\n  estado = NULL,\n  ultimo_mensaje_bot = NULL,\n  datos_pendientes = NULL,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id;",
          "options": {
            "queryReplacement": "={{ [$json.chat_id] }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1280,
          3184
        ],
        "id": "dfced77c-3a12-484f-a47b-ce18ff34a6d7",
        "name": "Cancelar Flujo",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "=✅ Operación cancelada.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1088,
          3184
        ],
        "id": "44d350e0-4f5e-4d99-99ec-34c793a83ea0",
        "name": "Mensaje Cancelación",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.respuesta_usuario }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1344,
          3408
        ],
        "id": "5c28f8ac-58ab-4451-9c1b-dc321602eafe",
        "name": "Enviar Ayuda",
        "webhookId": "81870251-e5cc-4b36-8e10-1263fbce611d",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "=✅ Operación cancelada.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -720,
          2224
        ],
        "id": "33fe0a99-a5bf-464b-9298-2c9c22e32f11",
        "name": "Mensaje Cancelación1",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE crm_visitas_bot\nSET\n  estado = NULL,\n  ultimo_mensaje_bot = NULL,\n  datos_pendientes = NULL,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id;",
          "options": {
            "queryReplacement": "={{ [$json.chat_id] }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -912,
          2224
        ],
        "id": "237b8ce5-2edf-4343-b4e0-11cef3fd3051",
        "name": "Cancelar Operación",
        "credentials": {
          "postgres": {
            "id": "T3QBOxYypSNBQAxx",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ `No he entendido tu respuesta.\\n\\nResponde con el número de la oportunidad, escribe \"crear oportunidad\" o \"cancelar\".` }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -912,
          2448
        ],
        "id": "15cfac6f-cbe1-47f0-b381-c7858b2b104a",
        "name": "Lead No Entendido",
        "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
        "credentials": {
          "telegramApi": {
            "id": "V5cPrt9IZsvJlgjs",
            "name": "CrmBot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let entrada = null;\n\n// Intentar coger la entrada desde la rama texto\ntry {\n  entrada = $('Normalizar Mensaje Directo').first().json;\n} catch (e) {}\n\n// Si no existe, intentar desde la rama audio\nif (!entrada) {\n  try {\n    entrada = $('Actualizar Datos Transcripción').first().json;\n  } catch (e) {}\n}\n\nif (!entrada) {\n  throw new Error('No se pudo recuperar la entrada original del usuario');\n}\n\n// Postgres puede devolver 1 fila como objeto, como array de filas o como { rows: [...] }\nconst pg = $json;\nconst fila = Array.isArray(pg)\n  ? pg[0] || {}\n  : pg && Array.isArray(pg.rows)\n    ? pg.rows[0] || {}\n    : pg || {};\n\nlet datosPendientes = fila.datos_pendientes || {};\nif (typeof datosPendientes === 'string') {\n  try {\n    datosPendientes = JSON.parse(datosPendientes);\n  } catch {\n    datosPendientes = {};\n  }\n}\n\nreturn {\n  ...entrada,\n  memoria: {\n    ...fila,\n    datos_pendientes: datosPendientes\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2720,
          1936
        ],
        "id": "51b52d68-dad2-46c5-b277-5a407073bd1d",
        "name": "Combinar Entrada + Memoria"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $('Unificar Contexto Odoo').first().json.odoo.db,\n      $('Unificar Contexto Odoo').first().json.odoo.uid,\n      $('Unificar Contexto Odoo').first().json.odoo.password,\n      \"crm.lead\",\n      \"read\",\n      [\n        [ $('Construir Nota Visita').first().json.memoria.lead_id ]\n      ],\n      {\n        fields: [\"id\", \"description\"]\n      }\n    ]\n  }\n}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -960,
          2896
        ],
        "id": "7d0e5377-8149-4ed1-b6b7-90fb05ad9276",
        "name": "Leer Descripción Actual Lead"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $('Construir Nota Visita').first().json.odoo.db,\n      $('Construir Nota Visita').first().json.odoo.uid,\n      $('Construir Nota Visita').first().json.odoo.password,\n      \"crm.lead\",\n      \"write\",\n      [\n        [ $('Construir Nota Visita').first().json.memoria.lead_id ],\n        {\n          description: (() => {\n            const actual = $('Leer Descripción Actual Lead').first().json.result?.[0]?.description || '';\n            const nueva = $('Construir Nota Visita').first().json.internal_note_entry || '';\n            return actual && actual.trim() ? `${actual}\\n\\n${nueva}` : nueva;\n          })()\n        }\n      ]\n    ]\n  }\n}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -768,
          2896
        ],
        "id": "1813c9dd-5db3-43d8-a0fd-10c9dcff3bb4",
        "name": "Guardar Notas Internas Lead"
      },
      {
        "parameters": {
          "jsCode": "const c = $('Construir Nota Visita').first().json;\nconst mem = c.memoria || {};\nconst odoo = c.odoo || $('Unificar Contexto Odoo').first().json.odoo;\nconst msg = String(c.mensaje_usuario_original || c.mensaje_usuario || '').trim();\n\nfunction num(v) {\n  const n = parseFloat(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction toOdooDatetime(v) {\n  if (v == null || v === '') return undefined;\n  let s = String(v).trim();\n  if (!s) return undefined;\n  s = s.replace(/Z$/i, '').replace('T', ' ');\n  if (s.length >= 19) return s.substring(0, 19);\n  const d = new Date(v);\n  if (!Number.isNaN(d.getTime())) {\n    return d.toISOString().replace('T', ' ').substring(0, 19);\n  }\n  return undefined;\n}\n\nfunction resolveLeadId() {\n  const cand = [mem.lead_id, mem.leadId, c.lead_id];\n  for (const x of cand) {\n    const n = parseInt(x, 10);\n    if (Number.isFinite(n)) return n;\n  }\n  try {\n    const id = $('Leer Descripción Actual Lead').first().json?.result?.[0]?.id;\n    const n = parseInt(id, 10);\n    if (Number.isFinite(n)) return n;\n  } catch (e) {}\n  try {\n    const id = $('Crear Oportunidad Odoo').first().json?.result;\n    const n = parseInt(id, 10);\n    if (Number.isFinite(n)) return n;\n  } catch (e) {}\n  return null;\n}\n\nconst leadOdooId = resolveLeadId();\nif (leadOdooId == null) {\n  throw new Error(\n    'Falta lead_id para vincular la visita al CRM (memoria Postgres o lectura Odoo).'\n  );\n}\n\nconst refName = ('Visita — ' + (mem.lead_name || 'CRM') + ' — ' + (c.fecha_bonita || '')).slice(0, 200);\n\nconst vals = {\n  name: refName,\n  lead_id: leadOdooId,\n  mensaje_comercial: msg || '(Sin resumen)',\n  comercial_nombre: mem.user_name || '—'\n};\n\nif (mem.user_id != null && mem.user_id !== '') {\n  vals.telegram_user_id = String(mem.user_id);\n}\n\nconst ela = num(mem.entrada_lat);\nconst elo = num(mem.entrada_lon);\nif (ela != null) vals.entrada_lat = ela;\nif (elo != null) vals.entrada_lon = elo;\nconst ea = toOdooDatetime(mem.entrada_at);\nif (ea) vals.entrada_at = ea;\n\nconst sla = num(mem.salida_lat);\nconst slo = num(mem.salida_lon);\nif (sla != null) vals.salida_lat = sla;\nif (slo != null) vals.salida_lon = slo;\nconst sa = toOdooDatetime(mem.salida_at);\nif (sa) vals.salida_at = sa;\n\nreturn {\n  chat_id: c.chat_id,\n  telegram_chat_id: c.telegram_chat_id,\n  odoo,\n  visita_payload: vals\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -672,
          2896
        ],
        "id": "1582c71a-e8f1-4d06-9abb-57b29a7b0f96",
        "name": "Preparar Registro Visita Odoo"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n{\n  jsonrpc: '2.0',\n  id: 1,\n  method: 'call',\n  params: {\n    service: 'object',\n    method: 'execute_kw',\n    args: [\n      $('Preparar Registro Visita Odoo').first().json.odoo.db,\n      $('Preparar Registro Visita Odoo').first().json.odoo.uid,\n      $('Preparar Registro Visita Odoo').first().json.odoo.password,\n      'azordata.crm.visit',\n      'create',\n      [\n        $('Preparar Registro Visita Odoo').first().json.visita_payload\n      ]\n    ]\n  }\n}\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -512,
          2896
        ],
        "id": "df2196ff-9eb9-47c6-b446-8e6de7fae7f0",
        "name": "Registrar Visita Odoo"
      },
      {
        "parameters": {
          "jsCode": "const prep = $('Preparar Registro Visita Odoo').first().json;\nlet res = $json;\nif (res.body && typeof res.body === 'object' && (res.body.result !== undefined || res.body.error)) {\n  res = res.body;\n}\nif (res.data && typeof res.data === 'object' && (res.data.result !== undefined || res.data.error)) {\n  res = res.data;\n}\n\nif (res.error) {\n  const det =\n    res.error.data?.message ||\n    res.error.data?.debug ||\n    res.error.message ||\n    JSON.stringify(res.error);\n  throw new Error('Odoo no creó la visita: ' + det);\n}\n\nif (res.result === undefined || res.result === false) {\n  throw new Error(\n    'Odoo no devolvió id de visita. Respuesta: ' + JSON.stringify(res).slice(0, 2000)\n  );\n}\n\nreturn {\n  ...prep,\n  chat_id: prep.chat_id,\n  visita_odoo_id: res.result\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -432,
          2896
        ],
        "id": "9d83d472-1d23-4b1f-b61d-3d7d5c98c1a4",
        "name": "Validar Crear Visita Odoo"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Detectar Tipo Inicial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Memoria Visita": {
        "main": [
          [
            {
              "node": "Combinar Entrada + Memoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Router Principal CRM": {
        "main": [
          [
            {
              "node": "Autenticar Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Acción": {
        "main": [
          [
            {
              "node": "Guardar Entrada",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Guardar Salida",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Resolver Lead Elegido",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Preparar Payload Nueva Oportunidad",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Construir Nota Visita",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cancelar Flujo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar Ayuda",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Entrada": {
        "main": [
          [
            {
              "node": "Entrada Registrada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Salida": {
        "main": [
          [
            {
              "node": "Consultar Oportunidades Abiertas Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Oportunidades Abiertas Odoo": {
        "main": [
          [
            {
              "node": "Preparar Lista Oportunidades",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Autenticar Odoo": {
        "main": [
          [
            {
              "node": "Unificar Contexto Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Lista Oportunidades": {
        "main": [
          [
            {
              "node": "Guardar Memoria Oportunidades",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Memoria Oportunidades": {
        "main": [
          [
            {
              "node": "Enviar Lista Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolver Lead Elegido": {
        "main": [
          [
            {
              "node": "Switch Resultado Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Resultado Lead": {
        "main": [
          [
            {
              "node": "Guardar Lead Elegido",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Guardar Estado Crear Oportunidad",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cancelar Operación",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Lead No Entendido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Lead Elegido": {
        "main": [
          [
            {
              "node": "Preguntar Descripción Visita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Estado Crear Oportunidad": {
        "main": [
          [
            {
              "node": "Pedir Datos Nueva Oportunidad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Es Audio?": {
        "main": [
          [
            {
              "node": "Preparar Descarga",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Normalizar Mensaje Directo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar Datos Transcripción": {
        "main": [
          [
            {
              "node": "Consultar Memoria Visita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Procesar Transcripción": {
        "main": [
          [
            {
              "node": "Confirmar Transcripción T",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Descarga": {
        "main": [
          [
            {
              "node": "Descargar Audio T",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          [
            {
              "node": "Procesar Transcripción",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confirmar Transcripción T": {
        "main": [
          [
            {
              "node": "Actualizar Datos Transcripción",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Descargar Audio T": {
        "main": [
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detectar Tipo Inicial": {
        "main": [
          [
            {
              "node": "¿Es Audio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Mensaje Directo": {
        "main": [
          [
            {
              "node": "Consultar Memoria Visita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unificar Contexto Odoo": {
        "main": [
          [
            {
              "node": "Switch Acción",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Payload Nueva Oportunidad": {
        "main": [
          [
            {
              "node": "IF Nombre Cliente Oportunidad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Nombre Cliente Oportunidad": {
        "main": [
          [
            {
              "node": "Buscar Partner Odoo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aviso Falta Nombre Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Partner Odoo": {
        "main": [
          [
            {
              "node": "Fusionar Partner Oportunidad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fusionar Partner Oportunidad": {
        "main": [
          [
            {
              "node": "Crear Oportunidad Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear Oportunidad Odoo": {
        "main": [
          [
            {
              "node": "Leer Lead Creado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Lead Creado": {
        "main": [
          [
            {
              "node": "Guardar Lead Creado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Lead Creado": {
        "main": [
          [
            {
              "node": "Preguntar Qué Ha Ido a Hacer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Construir Nota Visita": {
        "main": [
          [
            {
              "node": "Guardar Nota en Lead Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Nota en Lead Odoo": {
        "main": [
          [
            {
              "node": "Leer Descripción Actual Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cerrar Visita": {
        "main": [
          [
            {
              "node": "Confirmación Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancelar Flujo": {
        "main": [
          [
            {
              "node": "Mensaje Cancelación",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancelar Operación": {
        "main": [
          [
            {
              "node": "Mensaje Cancelación1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combinar Entrada + Memoria": {
        "main": [
          [
            {
              "node": "Router Principal CRM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Descripción Actual Lead": {
        "main": [
          [
            {
              "node": "Guardar Notas Internas Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Notas Internas Lead": {
        "main": [
          [
            {
              "node": "Preparar Registro Visita Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Registro Visita Odoo": {
        "main": [
          [
            {
              "node": "Registrar Visita Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Registrar Visita Odoo": {
        "main": [
          [
            {
              "node": "Validar Crear Visita Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Crear Visita Odoo": {
        "main": [
          [
            {
              "node": "Cerrar Visita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jorge Huescar",
    "name": "Version 248e7a44",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "248e7a44-add6-4294-9619-9cfdab11f7a1",
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Detectar Tipo Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Memoria Visita": {
      "main": [
        [
          {
            "node": "Combinar Entrada + Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Principal CRM": {
      "main": [
        [
          {
            "node": "Autenticar Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Acción": {
      "main": [
        [
          {
            "node": "Guardar Entrada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Salida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolver Lead Elegido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Payload Nueva Oportunidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Nota Visita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar Flujo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Entrada": {
      "main": [
        [
          {
            "node": "Entrada Registrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Salida": {
      "main": [
        [
          {
            "node": "Consultar Oportunidades Abiertas Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Oportunidades Abiertas Odoo": {
      "main": [
        [
          {
            "node": "Preparar Lista Oportunidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autenticar Odoo": {
      "main": [
        [
          {
            "node": "Unificar Contexto Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Lista Oportunidades": {
      "main": [
        [
          {
            "node": "Guardar Memoria Oportunidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Memoria Oportunidades": {
      "main": [
        [
          {
            "node": "Enviar Lista Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Lead Elegido": {
      "main": [
        [
          {
            "node": "Switch Resultado Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Resultado Lead": {
      "main": [
        [
          {
            "node": "Guardar Lead Elegido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Estado Crear Oportunidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar Operación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lead No Entendido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Lead Elegido": {
      "main": [
        [
          {
            "node": "Preguntar Descripción Visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado Crear Oportunidad": {
      "main": [
        [
          {
            "node": "Pedir Datos Nueva Oportunidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Audio?": {
      "main": [
        [
          {
            "node": "Preparar Descarga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar Mensaje Directo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Datos Transcripción": {
      "main": [
        [
          {
            "node": "Consultar Memoria Visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Transcripción": {
      "main": [
        [
          {
            "node": "Confirmar Transcripción T",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Descarga": {
      "main": [
        [
          {
            "node": "Descargar Audio T",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Procesar Transcripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Transcripción T": {
      "main": [
        [
          {
            "node": "Actualizar Datos Transcripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio T": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Tipo Inicial": {
      "main": [
        [
          {
            "node": "¿Es Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje Directo": {
      "main": [
        [
          {
            "node": "Consultar Memoria Visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Contexto Odoo": {
      "main": [
        [
          {
            "node": "Switch Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payload Nueva Oportunidad": {
      "main": [
        [
          {
            "node": "IF Nombre Cliente Oportunidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Nombre Cliente Oportunidad": {
      "main": [
        [
          {
            "node": "Buscar Partner Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso Falta Nombre Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Partner Odoo": {
      "main": [
        [
          {
            "node": "Fusionar Partner Oportunidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionar Partner Oportunidad": {
      "main": [
        [
          {
            "node": "Crear Oportunidad Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Oportunidad Odoo": {
      "main": [
        [
          {
            "node": "Leer Lead Creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Lead Creado": {
      "main": [
        [
          {
            "node": "Guardar Lead Creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Lead Creado": {
      "main": [
        [
          {
            "node": "Preguntar Qué Ha Ido a Hacer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Nota Visita": {
      "main": [
        [
          {
            "node": "Guardar Nota en Lead Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Nota en Lead Odoo": {
      "main": [
        [
          {
            "node": "Leer Descripción Actual Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerrar Visita": {
      "main": [
        [
          {
            "node": "Confirmación Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Flujo": {
      "main": [
        [
          {
            "node": "Mensaje Cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Operación": {
      "main": [
        [
          {
            "node": "Mensaje Cancelación1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Entrada + Memoria": {
      "main": [
        [
          {
            "node": "Router Principal CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Descripción Actual Lead": {
      "main": [
        [
          {
            "node": "Guardar Notas Internas Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Notas Internas Lead": {
      "main": [
        [
          {
            "node": "Preparar Registro Visita Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Registro Visita Odoo": {
      "main": [
        [
          {
            "node": "Registrar Visita Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Visita Odoo": {
      "main": [
        [
          {
            "node": "Validar Crear Visita Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Crear Visita Odoo": {
      "main": [
        [
          {
            "node": "Cerrar Visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-24T10:41:28.665Z",
  "id": "z2zwrAepN37q0K10",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Gestión de Visitas a Leads (Odoo 16)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4864,
        1904
      ],
      "id": "0ce84353-4155-4cdd-ae00-81970f059759",
      "name": "Telegram Trigger",
      "webhookId": "10466960-1bb6-4e83-84f4-97818410efc4",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
        "text": "=✅ Entrada registrada.  \n\nCuando termines la visita, vuelve a enviarme tu ubicación para registrar la salida.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1184,
        1264
      ],
      "id": "6e3aa98f-a898-4023-9102-fcdd32127593",
      "name": "Entrada Registrada",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  base.chat_id,\n  t.user_id,\n  t.user_name,\n  t.estado,\n  t.ultimo_mensaje_bot,\n  t.datos_pendientes,\n  t.entrada_lat,\n  t.entrada_lon,\n  t.entrada_at,\n  t.salida_lat,\n  t.salida_lon,\n  t.salida_at,\n  t.lead_id,\n  t.lead_name,\n  t.created_at,\n  t.updated_at\nFROM (SELECT $1::bigint AS chat_id) base\nLEFT JOIN crm_visitas_bot t\n  ON t.chat_id = base.chat_id;",
        "options": {
          "queryReplacement": "={{ [$json.chat_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2928,
        1936
      ],
      "id": "ebc2c6e1-c96f-432f-89dd-38df32cd9df9",
      "name": "Consultar Memoria Visita",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const entrada = $json;\nconst memoria = $json.memoria || {};\n\nconst estado = memoria.estado || null;\nconst tipo = entrada.tipo_mensaje;\nconst texto = String(entrada.mensaje_usuario || '').toLowerCase().trim();\n\nconst esCancelar = ['cancelar', 'cancela', 'anula', 'salir'].some(x => texto.includes(x));\n\nif (esCancelar) {\n  return { ...entrada, accion: 'cancelar' };\n}\n\nif (tipo === 'location') {\n  if (!estado || estado !== 'visita_abierta') {\n    return { ...entrada, accion: 'registrar_entrada' };\n  } else {\n    return { ...entrada, accion: 'registrar_salida' };\n  }\n}\n\nif (estado === 'esperando_lead' && tipo === 'text') {\n  return { ...entrada, accion: 'procesar_respuesta_lead' };\n}\n\nif (estado === 'esperando_crear_oportunidad' && (tipo === 'text' || tipo === 'voice')) {\n  return { ...entrada, accion: 'crear_oportunidad' };\n}\n\nif (estado === 'esperando_descripcion_visita' && (tipo === 'text' || tipo === 'voice')) {\n  return { ...entrada, accion: 'guardar_visita' };\n}\n\nreturn {\n  ...entrada,\n  accion: 'mensaje_ayuda',\n  respuesta_usuario: 'Envíame una ubicación para empezar una visita comercial.'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2512,
        1936
      ],
      "id": "fe5ddc8a-6166-43bb-bfc4-f53e2dcddd26",
      "name": "Router Principal CRM"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "registrar_entrada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "48445e91-6a6c-4c09-b3d6-81ac6c231aa6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "registrar_entrada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ea805b24-dacc-4db0-84c1-5c469b33ac58",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "registrar_salida",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "registrar_salida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1cf96c94-68c0-4dd0-88ff-bdcb32e62d19",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "procesar_respuesta_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "procesar_respuesta_lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1a84146f-5a6b-404b-80a0-91621b965248",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "crear_oportunidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear_oportunidad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa7abee8-4d78-412f-a6f5-5dc21d229edc",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "guardar_visita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guardar_visita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "80b9b6ff-34e7-44a2-a7c6-906065d31775",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5a4840d0-3bcf-44cf-bec1-2d9b133263ae",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "mensaje_ayuda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mensaje_ayuda"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1840,
        1872
      ],
      "id": "0e6e378b-9029-43b0-bda5-7e0bffac8f18",
      "name": "Switch Acción"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crm_visitas_bot (\n  chat_id, user_id, user_name, estado,\n  entrada_lat, entrada_lon, entrada_at,\n  ultimo_mensaje_bot, datos_pendientes, updated_at\n)\nVALUES (\n  $1, $2, $3, 'visita_abierta',\n  $4, $5, NOW(),\n  $6, $7::jsonb, NOW()\n)\nON CONFLICT (chat_id)\nDO UPDATE SET\n  user_id = EXCLUDED.user_id,\n  user_name = EXCLUDED.user_name,\n  estado = 'visita_abierta',\n  entrada_lat = EXCLUDED.entrada_lat,\n  entrada_lon = EXCLUDED.entrada_lon,\n  entrada_at = EXCLUDED.entrada_at,\n  ultimo_mensaje_bot = EXCLUDED.ultimo_mensaje_bot,\n  datos_pendientes = EXCLUDED.datos_pendientes,\n  updated_at = NOW()\nRETURNING chat_id, user_id, user_name, estado;",
        "options": {
          "queryReplacement": "={{\n[\n  $json.chat_id,\n  $json.user_id,\n  $json.user_name,\n  $json.latitude,\n  $json.longitude,\n  '✅ Entrada registrada. Cuando termines la visita, vuelve a enviarme tu ubicación para registrar la salida.',\n  JSON.stringify({ fase: 'entrada_registrada' })\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1408,
        1264
      ],
      "id": "177cc98a-2917-41d8-826f-f1f904cba885",
      "name": "Guardar Entrada",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_visitas_bot\nSET\n  estado = 'esperando_lead',\n  salida_lat = $2,\n  salida_lon = $3,\n  salida_at = NOW(),\n  ultimo_mensaje_bot = $4,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, estado;",
        "options": {
          "queryReplacement": "={{\n[\n  $json.chat_id,\n  $json.latitude,\n  $json.longitude,\n  '¿A qué lead u oportunidad has ido a visitar?'\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1408,
        1504
      ],
      "id": "36923f46-fa91-406f-9fb7-d003c940c245",
      "name": "Guardar Salida",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $('Unificar Contexto Odoo').first().json.odoo.db,\n      $('Unificar Contexto Odoo').first().json.odoo.uid,\n      $('Unificar Contexto Odoo').first().json.odoo.password,\n      \"crm.lead\",\n      \"search_read\",\n      [\n        [\n          [\"type\", \"=\", \"opportunity\"],\n          [\"probability\", \"<\", 100],\n          [\"active\", \"=\", true],\n          [\"user_id\", \"=\", $('Unificar Contexto Odoo').first().json.odoo.uid]\n        ]\n      ],\n      {\n        fields: [\"id\", \"name\", \"partner_name\", \"contact_name\", \"stage_id\"],\n        limit: 20,\n        order: \"write_date desc\"\n      }\n    ]\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        1504
      ],
      "id": "c44f49c6-6d88-49ab-805a-700be9d49af4",
      "name": "Consultar Oportunidades Abiertas Odoo"
    },
    {
      "parameters": {
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"authenticate\",\n    \"args\": [\n      \"lsanchezgoshawk-crm-main-31347967\",\n      \"admin\",\n      \"admin\",\n      {}\n    ]\n  },\n  \"id\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        1936
      ],
      "id": "06e3d624-d2fb-4d99-ab0a-1fe356f4264c",
      "name": "Autenticar Odoo"
    },
    {
      "parameters": {
        "jsCode": "const actual = $('Unificar Contexto Odoo').first().json;\nconst oportunidades = $json.result || [];\n\nconst textoLista = oportunidades.length\n  ? oportunidades.map((o, i) => `${i + 1}. ${o.name}`).join('\\n')\n  : 'No tienes oportunidades abiertas asignadas a tu usuario en Odoo.';\n\nreturn {\n  ...actual,\n  oportunidades,\n  textoLista,\n  mensaje_bot:\n`✅ Salida registrada.\n\n¿A qué lead u oportunidad has ido a visitar?\n\n${textoLista}\n\nResponde con el número, escribe \"crear oportunidad\" o \"cancelar\".`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        1504
      ],
      "id": "55f540f9-f663-4ba0-9d1e-95504b728159",
      "name": "Preparar Lista Oportunidades"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_visitas_bot\nSET\n  estado = 'esperando_lead',\n  ultimo_mensaje_bot = $2,\n  datos_pendientes = $3::jsonb,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, estado;",
        "options": {
          "queryReplacement": "={{\n[\n  $json.chat_id,\n  $json.mensaje_bot,\n  JSON.stringify({\n    oportunidades: $json.oportunidades\n  })\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -768,
        1504
      ],
      "id": "c6e77d12-8c7b-4164-9f45-0d63c0c7e7d2",
      "name": "Guardar Memoria Oportunidades",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Lista Oportunidades').first().json.telegram_chat_id || $('Preparar Lista Oportunidades').first().json.chat_id }}",
        "text": "={{ $('Preparar Lista Oportunidades').first().json.mensaje_bot }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        1504
      ],
      "id": "876b7b6e-36bf-4547-9d0c-f1bd7c357659",
      "name": "Enviar Lista Leads",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const memoria = $json.memoria || {};\nconst pendientes = memoria.datos_pendientes || {};\nconst opciones = pendientes.oportunidades || [];\nconst texto = String($json.mensaje_usuario || '').trim().toLowerCase();\n\nif (['cancelar', 'cancela', 'anular'].includes(texto)) {\n  return { ...$json, resultado: 'cancelar' };\n}\n\nif (texto.includes('crear oportunidad')) {\n  return { ...$json, resultado: 'crear_oportunidad' };\n}\n\nconst n = parseInt(texto, 10);\nif (Number.isFinite(n) && n >= 1 && n <= opciones.length) {\n  return {\n    ...$json,\n    resultado: 'lead_elegido',\n    lead_id: opciones[n - 1].id,\n    lead_name: opciones[n - 1].name\n  };\n}\n\nconst match = opciones.find(o =>\n  String(o.name || '').toLowerCase().includes(texto)\n);\n\nif (match) {\n  return {\n    ...$json,\n    resultado: 'lead_elegido',\n    lead_id: match.id,\n    lead_name: match.name\n  };\n}\n\nreturn {\n  ...$json,\n  resultado: 'no_entendido'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        1792
      ],
      "id": "b7bb1c17-3026-41e9-a4da-88644de18b60",
      "name": "Resolver Lead Elegido"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resultado }}",
                    "rightValue": "lead_elegido",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4ac3b34d-0aea-43ea-a90b-c638b3e71a77"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_elegido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5c59cfd6-f7ce-44e5-8803-9280bcfbc403",
                    "leftValue": "={{ $json.resultado }}",
                    "rightValue": "crear_oportunidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear_oportunidad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ed2f583-e031-471b-83bf-21b9944950d0",
                    "leftValue": "={{ $json.resultado }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b04cebeb-4856-45b8-81dd-58995f7afe3e",
                    "leftValue": "={{ $json.resultado }}",
                    "rightValue": "no_entendido",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no_entendido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1216,
        1760
      ],
      "id": "b7a1fa6e-77ed-4cf9-b5df-e452af8261cf",
      "name": "Switch Resultado Lead"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_visitas_bot\nSET\n  lead_id = $2,\n  lead_name = $3,\n  estado = 'esperando_descripcion_visita',\n  ultimo_mensaje_bot = $4,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, lead_id, lead_name, estado;",
        "options": {
          "queryReplacement": "={{\n[\n  $json.chat_id,\n  $json.lead_id,\n  $json.lead_name,\n  `Perfecto. ¿Qué has ido a hacer en la visita a \"${$json.lead_name}\"? Puedes escribirlo o enviarlo por audio.`\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        1744
      ],
      "id": "b8988749-9013-4020-a5a3-10afd7abb15c",
      "name": "Guardar Lead Elegido",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
        "text": "={{ `Perfecto. ¿Qué has ido a hacer en la visita a \"${$json.lead_name}\"?\\n\\nPuedes escribirlo o enviarlo por audio.` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        1744
      ],
      "id": "0d852da5-acc3-48e9-9fe8-ac82f0715ab6",
      "name": "Preguntar Descripción Visita",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_visitas_bot\nSET\n  estado = 'esperando_crear_oportunidad',\n  ultimo_mensaje_bot = $2,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, estado;",
        "options": {
          "queryReplacement": "={{\n[\n  $json.chat_id,\n  'Perfecto. Envíame los datos por texto o audio. Usa etiquetas si puedes: Contacto, Empresa, Dirección, Cliente. Buscamos el contacto en Odoo; si no existe como empresa, el nombre queda en Nombre del contacto y el resto en los campos de texto del lead.'\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        1952
      ],
      "id": "c76082b7-a37b-40e5-99d1-f7f64bdd6ab1",
      "name": "Guardar Estado Crear Oportunidad",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
        "text": "=Perfecto. Envíame los datos por texto o audio.\n\nEjemplos: *Contacto: …*, *Empresa: …*, *Dirección: …*, *Cliente: …* (opcional).\nBuscamos la empresa en Odoo; si no hay coincidencia, el nombre va en **Nombre del contacto** y la empresa en el campo de texto del lead.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        1952
      ],
      "id": "82ca24de-4bf7-47dc-a565-d9fa3c95a7f5",
      "name": "Pedir Datos Nueva Oportunidad",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a69f9611-da2e-4b5e-bc4d-db867b9bc4f7",
              "leftValue": "={{ $json.tipo_mensaje }}",
              "rightValue": "voice",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4464,
        1904
      ],
      "id": "b120ec97-6cdd-4db8-9de2-b2bca396ff01",
      "name": "¿Es Audio?"
    },
    {
      "parameters": {
        "jsCode": "// Combinar datos de transcripción para que lleguen correctamente al AI Agent\nconst datosTranscripcion = $('Procesar Transcripción').item.json;\nconst datosOriginales = $('Detectar Tipo Inicial').first().json;\n\nconsole.log('🔄 Combinando datos para AI Agent:');\nconsole.log('📄 Datos originales:', JSON.stringify(datosOriginales, null, 2));\nconsole.log('🎤 Datos transcripción:', JSON.stringify(datosTranscripcion, null, 2));\n\nconst plataforma = String(\n  datosTranscripcion.plataforma ||\n  datosOriginales.plataforma ||\n  'telegram'\n).toLowerCase().trim();\n\nconst canalEnvio = plataforma;\n\nconst chatId = datosTranscripcion.chat_id ?? datosOriginales.chat_id ?? null;\nconst userId = datosTranscripcion.user_id ?? datosOriginales.user_id ?? null;\nconst userName = datosTranscripcion.user_name ?? datosOriginales.user_name ?? 'Usuario';\nconst timestamp = datosTranscripcion.timestamp ?? datosOriginales.timestamp ?? new Date().toISOString();\n\nconst rawTelegramChatId =\n  datosTranscripcion.telegram_chat_id ??\n  datosOriginales.telegram_chat_id ??\n  (plataforma === 'telegram' ? chatId : null);\n\nconst rawWhatsappPhone =\n  datosTranscripcion.whatsapp_phone ??\n  datosOriginales.whatsapp_phone ??\n  (plataforma === 'whatsapp' ? chatId : null);\n\nconst telegramChatId =\n  plataforma === 'telegram' &&\n  rawTelegramChatId != null &&\n  String(rawTelegramChatId).trim() !== ''\n    ? Number(rawTelegramChatId)\n    : null;\n\nconst whatsappPhone =\n  plataforma === 'whatsapp' &&\n  rawWhatsappPhone != null &&\n  String(rawWhatsappPhone).trim() !== ''\n    ? String(rawWhatsappPhone).replace(/\\D/g, '').trim()\n    : null;\n\nconst datosFinales = {\n  ...datosOriginales,\n  ...datosTranscripcion,\n\n  chat_id: chatId,\n  user_id: userId,\n  user_name: userName,\n  timestamp,\n\n  plataforma,\n  canal_respuesta: canalEnvio,\n  canal_envio: canalEnvio,\n  telegram_chat_id: telegramChatId,\n  whatsapp_phone: whatsappPhone,\n\n  es_audio: true,\n  audio_transcrito: true,\n  file_id: datosTranscripcion.file_id || datosOriginales.file_id\n};\n\nconsole.log('✅ Datos finales para AI Agent:', JSON.stringify(datosFinales, null, 2));\nconsole.log('💬 Mensaje que recibirá AI Agent:', datosFinales.mensaje_usuario);\n\nreturn datosFinales;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3152,
        1792
      ],
      "id": "52e4528d-a8d0-4083-9440-eeb23e0f8d8b",
      "name": "Actualizar Datos Transcripción"
    },
    {
      "parameters": {
        "jsCode": "// Procesar transcripción de AssemblyAI y combinar con datos originales\nconst datosOriginales = $('Detectar Tipo Inicial').first().json;\n\nconsole.log('📄 Respuesta completa de AssemblyAI:', JSON.stringify($json, null, 2));\n\n// Canal/plataforma\nconst plataforma = String(datosOriginales.plataforma || 'telegram').toLowerCase().trim();\nconst canalEnvio = plataforma;\n\n// IDs por canal\nconst rawChatId = datosOriginales.chat_id ?? null;\nconst rawTelegramChatId = datosOriginales.telegram_chat_id ?? rawChatId;\nconst rawWhatsappPhone = datosOriginales.whatsapp_phone ?? rawChatId;\n\nconst telegramChatId =\n  plataforma === 'telegram' &&\n  rawTelegramChatId != null &&\n  String(rawTelegramChatId).trim() !== ''\n    ? Number(rawTelegramChatId)\n    : null;\n\nconst whatsappPhone =\n  plataforma === 'whatsapp' &&\n  rawWhatsappPhone != null &&\n  String(rawWhatsappPhone).trim() !== ''\n    ? String(rawWhatsappPhone).replace(/\\D/g, '').trim()\n    : null;\n\n// AssemblyAI devuelve la transcripción en el campo 'text'\nlet transcripcion = '';\n\nif ($json.status === 'completed' && $json.text) {\n  transcripcion = $json.text;\n} else if ($json.status === 'error') {\n  transcripcion = '[Error en transcripción: ' + ($json.error || 'Error desconocido') + ']';\n  console.error('❌ Error en AssemblyAI:', $json.error);\n} else if ($json.status === 'processing') {\n  transcripcion = '[Transcripción aún en proceso, espera un momento más]';\n  console.log('⏳ AssemblyAI aún está procesando');\n} else if ($json.status === 'queued') {\n  transcripcion = '[Transcripción en cola, espera un momento]';\n  console.log('⏳ AssemblyAI en cola');\n} else {\n  transcripcion = $json.text || $json.transcript || '[Error: no se pudo obtener transcripción]';\n}\n\ntranscripcion = String(transcripcion).trim();\n\nif (!transcripcion || transcripcion === '' || transcripcion === 'undefined') {\n  transcripcion = '[Error: transcripción vacía]';\n  console.error('❌ Error: No se pudo obtener transcripción válida');\n  console.error('📄 Estado:', $json.status);\n  console.error('📄 Datos recibidos:', JSON.stringify($json, null, 2));\n}\n\nconsole.log('🎤 Transcripción obtenida de AssemblyAI (ES):', transcripcion);\nconsole.log('📊 Estado AssemblyAI:', $json.status);\nconsole.log('🌍 Idioma detectado:', $json.language_code);\nconsole.log('🎯 Confianza:', $json.confidence);\n\n// Versión normalizada\nconst transcripcionNormalizada = transcripcion\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/´/g, '')\n  .toLowerCase();\n\nconsole.log('🎤 Transcripción normalizada (sin tildes):', transcripcionNormalizada);\n\nreturn {\n  ...datosOriginales,\n\n  // canal\n  plataforma,\n  canal_respuesta: canalEnvio,\n  canal_envio: canalEnvio,\n  telegram_chat_id: telegramChatId,\n  whatsapp_phone: whatsappPhone,\n\n  // mensaje\n  mensaje_usuario: transcripcionNormalizada,\n  transcripcion_original: transcripcion,\n  mensaje_usuario_original: transcripcion,\n\n  es_audio: true,\n  audio_transcrito: true,\n  assemblyai_response: $json,\n  transcriptor: 'assemblyai',\n  estado_transcripcion: $json.status,\n  confidence: $json.confidence,\n  audio_duration: $json.audio_duration\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        1792
      ],
      "id": "ed651488-ba44-4316-a00c-f9fe49798ed1",
      "name": "Procesar Transcripción"
    },
    {
      "parameters": {
        "jsCode": "const datosArchivo = $json;\nconst datosOriginales = $('Detectar Tipo Inicial').first().json;\n\nconst plataforma = String(datosOriginales.plataforma || 'telegram').toLowerCase().trim();\n\nlet fileId = datosOriginales.file_id || null;\nlet filePath = null;\nlet mediaUrl = null;\nlet mimeType = null;\n\nif (plataforma === 'telegram') {\n  if (datosArchivo.file_path) {\n    filePath = datosArchivo.file_path;\n  } else if (datosArchivo.result?.file_path) {\n    filePath = datosArchivo.result.file_path;\n  } else if (datosArchivo.body?.result?.file_path) {\n    filePath = datosArchivo.body.result.file_path;\n  }\n\n  if (!fileId) {\n    throw new Error('No se obtuvo file_id de Telegram');\n  }\n\n  return {\n    ...datosOriginales,\n    ...datosArchivo,\n    plataforma,\n    canal_envio: 'telegram',\n    file_id: fileId,\n    file_path: filePath,\n    media_url: null,\n    mime_type: datosArchivo.mime_type || null,\n    voice_file_ready: true,\n    processing_method: 'telegram_get_file',\n    download_info: {\n      file_id: fileId,\n      file_path: filePath,\n      method: 'telegram_get_file',\n    },\n  };\n}\n\nif (plataforma === 'whatsapp') {\n  fileId = datosArchivo.id || datosOriginales.file_id || null;\n  mediaUrl = datosArchivo.url || datosArchivo.body?.url || null;\n  mimeType = datosArchivo.mime_type || datosArchivo.body?.mime_type || null;\n\n  if (!mediaUrl) {\n    throw new Error('No se obtuvo media_url de WhatsApp');\n  }\n\n  return {\n    ...datosOriginales,\n    ...datosArchivo,\n    plataforma,\n    canal_envio: 'whatsapp',\n    file_id: fileId,\n    file_path: null,\n    media_url: mediaUrl,\n    mime_type: mimeType,\n    voice_file_ready: true,\n    processing_method: 'whatsapp_media_url',\n    download_info: {\n      file_id: fileId,\n      file_path: null,\n      media_url: mediaUrl,\n      method: 'whatsapp_media_download',\n    },\n  };\n}\n\nthrow new Error(`Plataforma no soportada: ${plataforma}`);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4208,
        1792
      ],
      "id": "c0653a2d-1fb2-4870-8ed6-f44707a04e1a",
      "name": "Preparar Descarga"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3760,
        1792
      ],
      "id": "e1d59a34-3505-41ce-8e55-3bb91f459a96",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "DAJxp34XPnMfaoV9",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
        "text": "=🎤 **Audio transcrito exitosamente:**\n\n\"{{ $('Procesar Transcripción').item.json.transcripcion_original}}\"\n\n✅ Procesando tu solicitud...",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3360,
        1792
      ],
      "id": "4479dcc8-768b-481a-9491-33edfe30f658",
      "name": "Confirmar Transcripción T",
      "webhookId": "237a0319-b9b0-4c5f-8561-1aef1c7c9116",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3968,
        1792
      ],
      "id": "9e5a4d02-4494-49ac-b6fd-d2d57b3b509a",
      "name": "Descargar Audio T",
      "webhookId": "1f9d320a-2e58-48ab-bf94-f02ee44a09d2",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message || {};\n\nlet tipo_mensaje = 'unknown';\nif (msg.location) tipo_mensaje = 'location';\nelse if (msg.voice) tipo_mensaje = 'voice';\nelse if (msg.text) tipo_mensaje = 'text';\n\nreturn {\n  raw_message: msg,\n  chat_id: msg.chat?.id || null,\n  telegram_chat_id: msg.chat?.id || null,\n  user_id: msg.from?.id || null,\n  user_name: [msg.from?.first_name, msg.from?.last_name].filter(Boolean).join(' ').trim(),\n  tipo_mensaje,\n  mensaje_usuario: msg.text || '',\n  mensaje_usuario_original: msg.text || '',\n  latitude: msg.location?.latitude || null,\n  longitude: msg.location?.longitude || null,\n  file_id: msg.voice?.file_id || null,\n  fecha_hora: new Date().toISOString(),\n  plataforma: 'telegram',\n  es_audio: tipo_mensaje === 'voice'\n};"
      },
      "id": "bcf51175-bf16-4de9-bd05-57c203d6f3b0",
      "name": "Detectar Tipo Inicial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4672,
        1904
      ]
    },
    {
      "parameters": {
        "jsCode": "const textoOriginal = String($json.mensaje_usuario_original || $json.mensaje_usuario || '').trim();\n\nconst textoNormalizado = textoOriginal\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase()\n  .trim();\n\nreturn {\n  ...$json,\n  mensaje_usuario: textoNormalizado,\n  mensaje_usuario_original: textoOriginal,\n  es_audio: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4224,
        2048
      ],
      "id": "5e24c27c-cd32-489a-8940-09e0a49aaac5",
      "name": "Normalizar Mensaje Directo"
    },
    {
      "parameters": {
        "jsCode": "const actual = $('Router Principal CRM').first().json;\nconst auth = $('Autenticar Odoo').first().json;\n\nconst uid = auth.result;\n\nif (!uid) {\n  throw new Error('No se obtuvo uid de Odoo en la autenticación');\n}\n\nreturn {\n  ...actual,\n  odoo: {\n    url: 'https://lsanchezgoshawk-crm.odoo.com/jsonrpc',\n    db: 'lsanchezgoshawk-crm-main-31347967',\n    username: 'admin',\n    password: 'admin',\n    uid\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        1936
      ],
      "id": "43bea9d6-869d-4c2c-b17e-701c1b5c11a4",
      "name": "Unificar Contexto Odoo"
    },
    {
      "parameters": {
        "jsCode": "const texto = String($json.mensaje_usuario_original || $json.mensaje_usuario || '').trim();\n\nfunction trimVal(s) {\n  return String(s || '').replace(/^[\\s:\\-–—]+|[\\s:\\-–—]+$/g, '').trim();\n}\n\nfunction matchLabel(segment, regex) {\n  const m = segment.match(regex);\n  return m ? trimVal(m[1]) : '';\n}\n\nlet nombreCliente = '';\nlet contacto = '';\nlet empresa = '';\nlet street = '';\n\nconst segmentos = texto\n  .split(/[,;\\n]+/)\n  .map((s) => s.trim())\n  .filter(Boolean);\n\nfor (const p of segmentos) {\n  let v = matchLabel(p, /^(?:nombre\\s+del\\s+)?cliente\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    nombreCliente = v;\n    continue;\n  }\n  v = matchLabel(p, /^el\\s+cliente\\s+(?:es|llama)\\s+(.+)$/i);\n  if (v) {\n    nombreCliente = v;\n    continue;\n  }\n  v = matchLabel(p, /^contacto(?:\\s+principal)?\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    contacto = v;\n    continue;\n  }\n  v = matchLabel(p, /^persona\\s+de\\s+contacto\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    contacto = v;\n    continue;\n  }\n  v = matchLabel(p, /^empresa\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    empresa = v;\n    continue;\n  }\n  v = matchLabel(p, /^(?:compa[ñn]ia|compañía|raz[oó]n\\s+social)\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    empresa = v;\n    continue;\n  }\n  v = matchLabel(p, /^(?:calle|direcci[oó]n|domicilio|street)\\s*[:\\-–—]?\\s*(.+)$/i);\n  if (v) {\n    street = v;\n    continue;\n  }\n}\n\nif (!nombreCliente) {\n  const mFull = texto.match(\n    /(?:^|[\\s,;])(?:nombre\\s+del\\s+)?cliente\\s*[:\\-–—]\\s*([^\\n,;]+?)(?=[\\n,;]|$)/i\n  );\n  if (mFull) nombreCliente = trimVal(mFull[1]);\n}\nif (!contacto) {\n  const m = texto.match(/(?:^|[\\s,;])contacto\\s*[:\\-–—]\\s*([^\\n,;]+?)(?=[\\n,;]|$)/i);\n  if (m) contacto = trimVal(m[1]);\n}\nif (!empresa) {\n  const m = texto.match(/(?:^|[\\s,;])empresa\\s*[:\\-–—]\\s*([^\\n,;]+?)(?=[\\n,;]|$)/i);\n  if (m) empresa = trimVal(m[1]);\n}\nif (!street) {\n  const m = texto.match(\n    /(?:^|[\\s,;])(?:calle|direcci[oó]n|domicilio)\\s*[:\\-–—]\\s*([^\\n,;]+?)(?=[\\n,;]|$)/i\n  );\n  if (m) street = trimVal(m[1]);\n}\n\nif (!nombreCliente && segmentos.length > 0) {\n  const primero = segmentos[0];\n  const low = primero.toLowerCase();\n  const esEtiqueta =\n    /^(?:cliente|contacto|empresa|calle|direcci|domicilio|necesidad|presupuesto|urgencia|nombre\\s+del)/i.test(\n      low\n    );\n  if (!esEtiqueta && primero.length <= 120) {\n    nombreCliente = trimVal(primero);\n  }\n}\n\nnombreCliente = trimVal(nombreCliente);\ncontacto = trimVal(contacto);\nempresa = trimVal(empresa);\nstreet = trimVal(street);\n\nif (\n  contacto &&\n  nombreCliente &&\n  contacto.toLowerCase() === nombreCliente.toLowerCase()\n) {\n  contacto = '';\n}\n\nconst tituloNombre =\n  nombreCliente || contacto || empresa || 'Telegram';\n\nconst tieneAlgunaPista =\n  Boolean(nombreCliente) ||\n  Boolean(contacto) ||\n  Boolean(empresa) ||\n  Boolean(street) ||\n  texto.replace(/\\s+/g, ' ').length > 6;\n\nconst puede_crear_oportunidad = tieneAlgunaPista;\n\nif (!puede_crear_oportunidad) {\n  return {\n    ...$json,\n    puede_crear_oportunidad: false,\n    opportunity_payload: null,\n    partner_busqueda: null,\n    mensaje_falta_cliente:\n      'No he podido extraer datos. Escribe al menos **contacto**, **empresa**, **cliente**, **dirección** o un resumen concreto (por ejemplo: *Contacto: …, Empresa: …*).'\n  };\n}\n\nconst partner_busqueda =\n  (empresa || nombreCliente || contacto || '').trim() || null;\n\nconst opportunity_payload = {\n  name: `Oportunidad ${tituloNombre}`,\n  type: 'opportunity',\n  description: texto\n};\n\nif (empresa) opportunity_payload.partner_name = empresa;\nif (street) opportunity_payload.street = street;\nif (contacto) opportunity_payload.contact_name = contacto;\nelse if (nombreCliente) opportunity_payload.contact_name = nombreCliente;\n\nreturn {\n  ...$json,\n  puede_crear_oportunidad: true,\n  partner_busqueda,\n  opportunity_payload,\n  opportunity_datos_parseados: {\n    nombre_cliente: nombreCliente || undefined,\n    contact_name: contacto || undefined,\n    partner_name: empresa || undefined,\n    street: street || undefined\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        2608
      ],
      "id": "84c6c7a0-4694-43b3-9779-8661a86f0f6d",
      "name": "Preparar Payload Nueva Oportunidad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c7e8f901-2a3b-4c5d-8e9f-0a1b2c3d4e5f",
              "leftValue": "={{ String($json.puede_crear_oportunidad) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1216,
        2608
      ],
      "id": "6c0e26bf-a637-4dea-bb59-6b30dcf15ef8",
      "name": "IF Nombre Cliente Oportunidad"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || $json.chat_id }}",
        "text": "={{ $json.mensaje_falta_cliente }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1216,
        2800
      ],
      "id": "6190ddca-6a53-4804-99b9-bc89c7f51096",
      "name": "Aviso Falta Nombre Cliente",
      "webhookId": "7c8d9e0f-1a2b-4c5d-8e9f-0a1b2c3d4e5f",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const prep = $('Preparar Payload Nueva Oportunidad').first().json;\n  const t = String(prep.partner_busqueda || '').trim();\n  const domain = t ? ['|', ['name', '=', t], ['name', 'ilike', t]] : [['id', '=', 0]];\n  return JSON.stringify({\n    jsonrpc: '2.0',\n    method: 'call',\n    params: {\n      service: 'object',\n      method: 'execute_kw',\n      args: [\n        prep.odoo.db,\n        prep.odoo.uid,\n        prep.odoo.password,\n        'res.partner',\n        'search_read',\n        [domain],\n        { fields: ['id', 'name'], limit: 5 }\n      ]\n    }\n  });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1168,
        2608
      ],
      "id": "85c8a7e3-60c9-4da6-bbb5-bd8ade07476d",
      "name": "Buscar Partner Odoo"
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Preparar Payload Nueva Oportunidad').first().json;\nconst raw = $json;\n\nlet partners = [];\nif (raw && Array.isArray(raw.result)) {\n  partners = raw.result;\n}\n\nconst d = prep.opportunity_datos_parseados || {};\nconst nombreCliente = String(d.nombre_cliente || '').trim();\nconst contacto = String(d.contact_name || '').trim();\nconst empresa = String(d.partner_name || '').trim();\nconst street = String(d.street || '').trim();\n\n// Buscar el \"cliente\" en res.partner si el usuario lo ha indicado.\n// Si no viene, caemos al valor previo calculado en el paso de preparación.\nconst partner_busqueda = String(nombreCliente || prep.partner_busqueda || '').trim();\nlet partner_id = null;\n\nconst payload = { ...(prep.opportunity_payload || {}) };\n\nfunction norm(s) {\n  return String(s || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\n// Resolver partner_id: si hay varios resultados, usar coincidencia exacta por nombre.\nif (partner_busqueda) {\n  const target = norm(partner_busqueda);\n  const exact = partners.find((p) => norm(p && p.name) === target);\n  if (exact && exact.id) {\n    partner_id = exact.id;\n  } else if (partners.length === 1) {\n    partner_id = partners[0].id;\n  }\n}\n\nif (partner_id) {\n  payload.partner_id = partner_id;\n  if (contacto) payload.contact_name = contacto;\n  else if (nombreCliente) payload.contact_name = nombreCliente;\n  else if (partner_busqueda) payload.contact_name = partner_busqueda;\n  if (empresa) payload.partner_name = empresa;\n  if (street) payload.street = street;\n} else {\n  if (empresa) payload.partner_name = empresa;\n  if (street) payload.street = street;\n\n  // Si no encontramos el cliente en res.partner, el nombre debe ir a \"Nombre del contacto\".\n  // Evitamos que la empresa acabe como fallback en contact_name.\n  const busquedaSirveComoContacto =\n    partner_busqueda && norm(partner_busqueda) !== norm(empresa);\n\n  const cn =\n    contacto ||\n    nombreCliente ||\n    (busquedaSirveComoContacto ? partner_busqueda : '') ||\n    '';\n\n  if (cn) payload.contact_name = cn;\n}\n\nreturn {\n  ...prep,\n  odoo: prep.odoo,\n  opportunity_payload: payload,\n  res_partner_candidatos: partners,\n  partner_id_resuelto: partner_id\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        2608
      ],
      "id": "9f678c2c-5fc6-4c69-890e-d76ab9ce935c",
      "name": "Fusionar Partner Oportunidad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  jsonrpc: '2.0',\n  method: 'call',\n  params: {\n    service: 'object',\n    method: 'execute_kw',\n    args: [\n      $json.odoo.db,\n      $json.odoo.uid,\n      $json.odoo.password,\n      'crm.lead',\n      'create',\n      [\n        $json.opportunity_payload\n      ]\n    ]\n  }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        2608
      ],
      "id": "a2603f6e-d65f-4413-9e6e-eb333348101f",
      "name": "Crear Oportunidad Odoo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $('Unificar Contexto Odoo').first().json.odoo.db,\n      $('Unificar Contexto Odoo').first().json.odoo.uid,\n      $('Unificar Contexto Odoo').first().json.odoo.password,\n      \"crm.lead\",\n      \"read\",\n      [\n        [ $('Crear Oportunidad Odoo').first().json.result ]\n      ],\n      {\n        fields: [\"id\", \"name\", \"description\"]\n      }\n    ]\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        2608
      ],
      "id": "4c6c498b-2d11-4a77-88ae-a5c64fa2a1d2",
      "name": "Leer Lead Creado"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_visitas_bot\nSET\n  lead_id = $2,\n  lead_name = $3,\n  estado = 'esperando_descripcion_visita',\n  ultimo_mensaje_bot = $4,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id, lead_id, lead_name, estado;",
        "options": {
          "queryReplacement": "={{\n[\n  $('Unificar Contexto Odoo').first().json.chat_id,\n  $json.result?.[0]?.id || $('Crear Oportunidad Odoo').first().json.result,\n  $json.result?.[0]?.name || $('Fusionar Partner Oportunidad').first().json?.opportunity_payload?.name || 'Oportunidad',\n  'Ahora cuéntame qué has ido a hacer en la visita. Puedes escribirlo o enviarlo por audio.'\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        2608
      ],
      "id": "be06c283-3d28-46e9-8ad9-4a24c14c82ce",
      "name": "Guardar Lead Creado",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Unificar Contexto Odoo').first().json.chat_id }}",
        "text": "=✅ Oportunidad creada correctamente.\n\nAhora cuéntame qué has ido a hacer en la visita. Puedes escribirlo o enviarlo por audio.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        2608
      ],
      "id": "2f1712db-b402-43d5-aeca-7b57d0df918a",
      "name": "Preguntar Qué Ha Ido a Hacer",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const memoria = $json.memoria || {};\n\nconst resumenUsuario = String(\n  $json.mensaje_usuario_original || $json.mensaje_usuario || ''\n).trim();\n\nconst fechaBonita = new Date().toLocaleString('es-ES', {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// 1) Texto para el chatter: dejarlo completo con ubicaciones y fechas\nconst note_body = `\nVisita comercial registrada desde Telegram\n\nFecha registro: ${fechaBonita}\nEntrada: ${memoria.entrada_at || '-'}\nSalida: ${memoria.salida_at || '-'}\nUbicación entrada: ${memoria.entrada_lat || '-'}, ${memoria.entrada_lon || '-'}\nUbicación salida: ${memoria.salida_lat || '-'}, ${memoria.salida_lon || '-'}\n\nResumen de la visita:\n${resumenUsuario}\n`.trim();\n\n// 2) Texto para Notas internas: histórico sencillo por fecha\nconst internal_note_entry = `\n[${fechaBonita}]\n${resumenUsuario}\n`.trim();\n\nreturn {\n  ...$json,\n  note_body,\n  internal_note_entry,\n  fecha_bonita: fechaBonita\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        2896
      ],
      "id": "bc29be22-9ac0-47a0-aceb-0258635195c4",
      "name": "Construir Nota Visita"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $json.odoo.db,\n      $json.odoo.uid,\n      $json.odoo.password,\n      \"crm.lead\",\n      \"message_post\",\n      [\n        [$json.memoria.lead_id]\n      ],\n      {\n        body: $json.note_body\n      }\n    ]\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1152,
        2896
      ],
      "id": "5a263053-52f2-40eb-b388-780a8f75b393",
      "name": "Guardar Nota en Lead Odoo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_visitas_bot\nSET\n  estado = NULL,\n  ultimo_mensaje_bot = NULL,\n  datos_pendientes = NULL,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id;",
        "options": {
          "queryReplacement": "={{ [$('Validar Crear Visita Odoo').first().json.chat_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        2896
      ],
      "id": "a58f8c7a-f2ae-4ca2-906e-20b6cc05f645",
      "name": "Cerrar Visita",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Construir Nota Visita').first().json.telegram_chat_id || $('Construir Nota Visita').first().json.chat_id }}",
        "text": "={{ `✅ Visita registrada correctamente.\\n\\n🏢 Oportunidad: ${$('Construir Nota Visita').first().json.memoria?.lead_name || 'Sin nombre'}\\n📝 Resumen añadido al CRM de Odoo.` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        2896
      ],
      "id": "8fc88785-ecf6-4ae8-b2dc-994ec846e21d",
      "name": "Confirmación Final",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_visitas_bot\nSET\n  estado = NULL,\n  ultimo_mensaje_bot = NULL,\n  datos_pendientes = NULL,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id;",
        "options": {
          "queryReplacement": "={{ [$json.chat_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        3184
      ],
      "id": "dfced77c-3a12-484f-a47b-ce18ff34a6d7",
      "name": "Cancelar Flujo",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ Operación cancelada.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1088,
        3184
      ],
      "id": "44d350e0-4f5e-4d99-99ec-34c793a83ea0",
      "name": "Mensaje Cancelación",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.respuesta_usuario }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1344,
        3408
      ],
      "id": "5c28f8ac-58ab-4451-9c1b-dc321602eafe",
      "name": "Enviar Ayuda",
      "webhookId": "81870251-e5cc-4b36-8e10-1263fbce611d",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ Operación cancelada.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        2224
      ],
      "id": "33fe0a99-a5bf-464b-9298-2c9c22e32f11",
      "name": "Mensaje Cancelación1",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_visitas_bot\nSET\n  estado = NULL,\n  ultimo_mensaje_bot = NULL,\n  datos_pendientes = NULL,\n  updated_at = NOW()\nWHERE chat_id = $1\nRETURNING chat_id;",
        "options": {
          "queryReplacement": "={{ [$json.chat_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -912,
        2224
      ],
      "id": "237b8ce5-2edf-4343-b4e0-11cef3fd3051",
      "name": "Cancelar Operación",
      "credentials": {
        "postgres": {
          "id": "T3QBOxYypSNBQAxx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ `No he entendido tu respuesta.\\n\\nResponde con el número de la oportunidad, escribe \"crear oportunidad\" o \"cancelar\".` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        2448
      ],
      "id": "15cfac6f-cbe1-47f0-b381-c7858b2b104a",
      "name": "Lead No Entendido",
      "webhookId": "1a3f5ed1-8e77-4296-8baf-40c5c1727744",
      "credentials": {
        "telegramApi": {
          "id": "V5cPrt9IZsvJlgjs",
          "name": "CrmBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let entrada = null;\n\n// Intentar coger la entrada desde la rama texto\ntry {\n  entrada = $('Normalizar Mensaje Directo').first().json;\n} catch (e) {}\n\n// Si no existe, intentar desde la rama audio\nif (!entrada) {\n  try {\n    entrada = $('Actualizar Datos Transcripción').first().json;\n  } catch (e) {}\n}\n\nif (!entrada) {\n  throw new Error('No se pudo recuperar la entrada original del usuario');\n}\n\n// Postgres puede devolver 1 fila como objeto, como array de filas o como { rows: [...] }\nconst pg = $json;\nconst fila = Array.isArray(pg)\n  ? pg[0] || {}\n  : pg && Array.isArray(pg.rows)\n    ? pg.rows[0] || {}\n    : pg || {};\n\nlet datosPendientes = fila.datos_pendientes || {};\nif (typeof datosPendientes === 'string') {\n  try {\n    datosPendientes = JSON.parse(datosPendientes);\n  } catch {\n    datosPendientes = {};\n  }\n}\n\nreturn {\n  ...entrada,\n  memoria: {\n    ...fila,\n    datos_pendientes: datosPendientes\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        1936
      ],
      "id": "51b52d68-dad2-46c5-b277-5a407073bd1d",
      "name": "Combinar Entrada + Memoria"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $('Unificar Contexto Odoo').first().json.odoo.db,\n      $('Unificar Contexto Odoo').first().json.odoo.uid,\n      $('Unificar Contexto Odoo').first().json.odoo.password,\n      \"crm.lead\",\n      \"read\",\n      [\n        [ $('Construir Nota Visita').first().json.memoria.lead_id ]\n      ],\n      {\n        fields: [\"id\", \"description\"]\n      }\n    ]\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -960,
        2896
      ],
      "id": "7d0e5377-8149-4ed1-b6b7-90fb05ad9276",
      "name": "Leer Descripción Actual Lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      $('Construir Nota Visita').first().json.odoo.db,\n      $('Construir Nota Visita').first().json.odoo.uid,\n      $('Construir Nota Visita').first().json.odoo.password,\n      \"crm.lead\",\n      \"write\",\n      [\n        [ $('Construir Nota Visita').first().json.memoria.lead_id ],\n        {\n          description: (() => {\n            const actual = $('Leer Descripción Actual Lead').first().json.result?.[0]?.description || '';\n            const nueva = $('Construir Nota Visita').first().json.internal_note_entry || '';\n            return actual && actual.trim() ? `${actual}\\n\\n${nueva}` : nueva;\n          })()\n        }\n      ]\n    ]\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -768,
        2896
      ],
      "id": "1813c9dd-5db3-43d8-a0fd-10c9dcff3bb4",
      "name": "Guardar Notas Internas Lead"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Construir Nota Visita').first().json;\nconst mem = c.memoria || {};\nconst odoo = c.odoo || $('Unificar Contexto Odoo').first().json.odoo;\nconst msg = String(c.mensaje_usuario_original || c.mensaje_usuario || '').trim();\n\nfunction num(v) {\n  const n = parseFloat(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction toOdooDatetime(v) {\n  if (v == null || v === '') return undefined;\n  let s = String(v).trim();\n  if (!s) return undefined;\n  s = s.replace(/Z$/i, '').replace('T', ' ');\n  if (s.length >= 19) return s.substring(0, 19);\n  const d = new Date(v);\n  if (!Number.isNaN(d.getTime())) {\n    return d.toISOString().replace('T', ' ').substring(0, 19);\n  }\n  return undefined;\n}\n\nfunction resolveLeadId() {\n  const cand = [mem.lead_id, mem.leadId, c.lead_id];\n  for (const x of cand) {\n    const n = parseInt(x, 10);\n    if (Number.isFinite(n)) return n;\n  }\n  try {\n    const id = $('Leer Descripción Actual Lead').first().json?.result?.[0]?.id;\n    const n = parseInt(id, 10);\n    if (Number.isFinite(n)) return n;\n  } catch (e) {}\n  try {\n    const id = $('Crear Oportunidad Odoo').first().json?.result;\n    const n = parseInt(id, 10);\n    if (Number.isFinite(n)) return n;\n  } catch (e) {}\n  return null;\n}\n\nconst leadOdooId = resolveLeadId();\nif (leadOdooId == null) {\n  throw new Error(\n    'Falta lead_id para vincular la visita al CRM (memoria Postgres o lectura Odoo).'\n  );\n}\n\nconst refName = ('Visita — ' + (mem.lead_name || 'CRM') + ' — ' + (c.fecha_bonita || '')).slice(0, 200);\n\nconst vals = {\n  name: refName,\n  lead_id: leadOdooId,\n  mensaje_comercial: msg || '(Sin resumen)',\n  comercial_nombre: mem.user_name || '—'\n};\n\nif (mem.user_id != null && mem.user_id !== '') {\n  vals.telegram_user_id = String(mem.user_id);\n}\n\nconst ela = num(mem.entrada_lat);\nconst elo = num(mem.entrada_lon);\nif (ela != null) vals.entrada_lat = ela;\nif (elo != null) vals.entrada_lon = elo;\nconst ea = toOdooDatetime(mem.entrada_at);\nif (ea) vals.entrada_at = ea;\n\nconst sla = num(mem.salida_lat);\nconst slo = num(mem.salida_lon);\nif (sla != null) vals.salida_lat = sla;\nif (slo != null) vals.salida_lon = slo;\nconst sa = toOdooDatetime(mem.salida_at);\nif (sa) vals.salida_at = sa;\n\nreturn {\n  chat_id: c.chat_id,\n  telegram_chat_id: c.telegram_chat_id,\n  odoo,\n  visita_payload: vals\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        2896
      ],
      "id": "1582c71a-e8f1-4d06-9abb-57b29a7b0f96",
      "name": "Preparar Registro Visita Odoo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lsanchezgoshawk-crm.odoo.com/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  jsonrpc: '2.0',\n  id: 1,\n  method: 'call',\n  params: {\n    service: 'object',\n    method: 'execute_kw',\n    args: [\n      $('Preparar Registro Visita Odoo').first().json.odoo.db,\n      $('Preparar Registro Visita Odoo').first().json.odoo.uid,\n      $('Preparar Registro Visita Odoo').first().json.odoo.password,\n      'azordata.crm.visit',\n      'create',\n      [\n        $('Preparar Registro Visita Odoo').first().json.visita_payload\n      ]\n    ]\n  }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        2896
      ],
      "id": "df2196ff-9eb9-47c6-b446-8e6de7fae7f0",
      "name": "Registrar Visita Odoo"
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Preparar Registro Visita Odoo').first().json;\nlet res = $json;\nif (res.body && typeof res.body === 'object' && (res.body.result !== undefined || res.body.error)) {\n  res = res.body;\n}\nif (res.data && typeof res.data === 'object' && (res.data.result !== undefined || res.data.error)) {\n  res = res.data;\n}\n\nif (res.error) {\n  const det =\n    res.error.data?.message ||\n    res.error.data?.debug ||\n    res.error.message ||\n    JSON.stringify(res.error);\n  throw new Error('Odoo no creó la visita: ' + det);\n}\n\nif (res.result === undefined || res.result === false) {\n  throw new Error(\n    'Odoo no devolvió id de visita. Respuesta: ' + JSON.stringify(res).slice(0, 2000)\n  );\n}\n\nreturn {\n  ...prep,\n  chat_id: prep.chat_id,\n  visita_odoo_id: res.result\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        2896
      ],
      "id": "9d83d472-1d23-4b1f-b61d-3d7d5c98c1a4",
      "name": "Validar Crear Visita Odoo"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-24T10:41:28.665Z",
      "createdAt": "2026-04-24T10:41:28.665Z",
      "role": "workflow:owner",
      "workflowId": "z2zwrAepN37q0K10",
      "projectId": "s4WYDaCaT1Iwz31l"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-11T10:39:21.320Z",
  "versionId": "248e7a44-add6-4294-9619-9cfdab11f7a1"
}